[2018-01-08 14:34] mvrhov opened #3 "Remove illuminate components"
glancing through the code there is nothing that's used from the illuminate/response that the symfony/foundation that the illuminate/response wraps doesn't support out of the box.
This makes the whole package code side and vendor code usage to minimum.

[2018-01-08 14:59] ankitpokhrel commented on #3
Thank you for the feedback. Will check it over the weekends. Better, if you can send a PR :)

[2018-01-18 09:37] ankitpokhrel opened #6 "Cannot install package"
ankitpokhrel/tus-php dev-master requires symfony/console ^4.1@dev -> satisfiable by symfony/console[4.1.x-dev] but these conflict with your requirements or minimum-stability

[2018-01-18 14:35] #6 closed

[2018-01-18 14:47] ankitpokhrel opened #9 "Make bin/console command available as composer binary"

[2018-01-18 15:46] #9 closed

[2018-01-29 16:44] vbelorus opened #12 "Update for symfony console ^4.0"
Hi there

Thank you for your package.

Can you please update it for using
"symfony/console": "^4.0"
?

Thanks in advance.

[2018-02-15 03:02] ankitpokhrel opened #15 "Make Filestore cache path configurable via constructor"

[2018-02-15 04:02] #15 closed

[2018-03-10 03:38] ankitpokhrel opened #17 "Use user defined key instead of always using file hash as a cache key"

[2018-03-10 12:13] ankitpokhrel commented on #17
Fixed by #18

[2018-03-10 12:13] #17 closed

[2018-03-11 02:14] ankitpokhrel opened #19 "CORS header is missing in response"

[2018-03-11 03:28] #19 closed

[2018-03-27 02:53] ankitpokhrel opened #26 "memory_limit should be larger than post_max_size in base image"

[2018-03-27 13:52] #26 closed

[2018-04-06 10:25] sunel opened #28 "Adding Middleware"
What about adding a middleware for filtering HTTP requests. Application like authenticated, CORS, CSFR, IP Restriction Can be done.

[2018-04-07 12:01] lionelhg opened #29 "Ability to get the Response object after $server->serve()"
It would be very nice to tell the server not send the response and instead return the Response object. Even though the sever has the method getResponse(), is imposible to get it because the script ends due to calling exit().

It would be better to allow serve() to be silent and then grab the response. Here are some ideas:

`$response = $server->serve(false); // $send = false`

`$response = $server

[2018-04-07 14:51] ankitpokhrel commented on #28
Hi @sunel, thank you for your contribution. I have been thinking about this addition for a while but not able to work on it yet. A PR would be great :)

[2018-04-07 14:55] ankitpokhrel commented on #29
@lionelhg good point, need to think about how to achieve this though.

[2018-04-07 16:14] #29 closed

[2018-04-07 16:15] ankitpokhrel commented on #29
Fixed in #30

[2018-04-10 06:13] #28 closed

[2018-04-10 10:51] sunel commented on #28
Great 👍

[2018-04-12 17:24] ankitpokhrel opened #32 "Upload key incorrect in multi-level api path"
Upload key is incorrect if we use multi level api path like `/tus/files/<upload-key>`

[2018-04-13 05:55] ankitpokhrel commented on #32
Resolved in #33

[2018-04-13 05:55] #32 closed

[2018-04-18 08:01] mvatansever opened #35 "Docker Compose Up Failed"
The docker solution of the project not working seamlessly.
I execute the command: **docker-compose up -d**

And the terminal say me to:

ERROR: pull access denied for tus-php-base, repository does not exist or may require 'docker login'

Can you give access of the docker hub repository?

[2018-04-18 08:34] ankitpokhrel commented on #35
I am using local images. You need to run:
[code]

This will build and run all images locally.

[2018-04-19 01:38] #35 closed

[2018-04-20 16:46] ankitpokhrel opened #37 "It is not necessary to return checksum in response body during POST"

[2018-04-20 16:48] ankitpokhrel opened #38 "Verify Upload-Offset header during PATCH request"
The server should check the validity of `Upload-Offset` header during PATCH request.

[2018-04-29 17:16] ankitpokhrel commented on #37
Fixed by #40

[2018-04-29 17:16] #37 closed

[2018-05-02 17:28] s1rc opened #41 "Framework Support"
Is it possible for this to run on request within a framework, like Laravel?

I want to test this out, however with deployment it would be ideal to have requests handled by our app instead of running a separate server.

[2018-05-03 02:49] ankitpokhrel commented on #41
@s1rc I added a rough doc for Laravel integration: https://github.com/ankitpokhrel/tus-php/wiki/Laravel-Lumen-Integration

[2018-05-03 15:38] s1rc commented on #41
Thank you, I will give this a try!

[2018-05-04 16:04] s1rc commented on #41
So far so good!

One quick change to your Wiki article. In the route definition, the parameter needs to be optional.

[code]

[2018-05-04 16:56] ankitpokhrel commented on #41
Yes true, thanks :)

[2018-05-04 17:36] s1rc commented on #41
Not sure if I should open a new issue, but do have some follow up questions.

1. Where are the files stored during upload? In the redis cache?
2. If using redis cache I cannot resume, if using file cache upload finishes 100% immediately. (both using Uppy)
3. Is there a completion handler for the server? I want to perform some post upload actions (i.e. add to a media library and remove from the tus

[2018-05-04 18:27] ankitpokhrel commented on #41
1. Files are stored in the location you specify while setting up the server. By default, it uses `uploads` folder in the installation directory.
[code]

2. Make sure that `tus-server` can connect the redis server. You can use `REDIS_HOST` and `REDIS_PORT` env to pass redis host and port. You can also directly create and pass redis object.
[code]

    I guess you are testing in your local setup. Th

[2018-05-04 18:30] s1rc commented on #41
1. I have it set to

[2018-05-05 04:33] ankitpokhrel commented on #41
Hi @s1rc,

I just tried in one of my Laravel's installation and it seems to be working fine. I hope you properly setup your tus endpoint for uppy.
[code]

Note that if you upload same file again while was successfully uploaded previously it won't get uploaded unless you clear your redis or file cache. File cache is saved in `.cache/tus_php.cache`.

Flush your cache first and then try uploading som

[2018-05-05 13:07] s1rc commented on #41
I set it up exactly as you wrote the Wiki.

I've tried file cache and deleting `vendor/ankitpokhrel/tus-php/.cache/tus_php.cache`, as well as deleting all records from redis when using redis config.

During upload there are no partially uploaded files in the folder defined at `setUploadDir(storage_path('tus'))`

I've tried setting the Laravel environment cache to file and redis, no change.

You ca

[2018-05-06 03:25] ankitpokhrel commented on #41
Hi @s1rc,

The progress bar is updated by uppy as soon as the first byte is sent to the server and don't wait for the actual byte to be updated. This process is very quick in local so the progress bar reaches 100% immediately. This won't happen in actual server as there will be lag when sending first byte to the server.

I see that the file is 2.5gb which will take some time to upload (even partia

[2018-05-07 15:58] s1rc commented on #41
@ankitpokhrel thanks for the feedback.

I tested it on a development server on AWS and the behaviour seems the similar. Upload will not resume but instead starts over. When the upload is complete the Tus server can't seem to read the file from the specified directory. (I checked and the file does not exist in the upload directory)

[2018-05-07 18:15] s1rc opened #42 "Add ability to specify file based cache location"
Just a small feature request to add the ability to specify a location for the file based cache.

Currently it is at `vendor/ankitpokhrel/tus-php/.cache/tus_php.cache` however when using code deploy or deploying into a load balancer setup that location will be replaced or not shared between instances.

Putting the `tus_php.cache` file in the directory specified by `setUploadDir()` would be a good a

[2018-05-08 02:25] ankitpokhrel commented on #41
I will try to replicate the issue as soon as I get some time and will get back to you

[2018-05-21 08:04] ankitpokhrel opened #44 "[Uppy Integration] Progress bar reaches 100% instantly"
Progress bar instantly reaches 100% usually in local setup when using uppy with tus-php-server. There is a long pause afterwards while the file is being uploaded.

[2018-05-21 08:05] ankitpokhrel commented on #41
Closed in favor of #44

[2018-05-21 08:05] #41 closed

[2018-05-29 07:24] ankitpokhrel opened #47 "Setting X-HTTP-Method-Override in middleware won't work"

[2018-05-29 08:47] #47 closed

[2018-05-29 11:51] ankitpokhrel opened #49 "Api path is appended twice"
The request url becomes `http://example.com/tus/tus` instead of `http://example.com/tus`

[2018-05-29 12:04] #49 closed

[2018-06-03 13:54] airani opened #52 "If upload two different files with same filename or same file with same filename upload from two browsers files append together"
If upload two diffrent files with same filename or same file with same filename upload from two browsers files append together

[2018-06-03 15:16] ankitpokhrel commented on #52
Uploads are differentiated using unique `Upload-Key` and it has nothing to do with filename. Can you check if your upload metadata is being saved to cache?

Again, I suspect there is some cache issue in your setup. If you upload same file again with same `Upload-Key` it will get append together. The state of previous upload is fetched from cache to resume the upload. You need to use different `Upl

[2018-06-07 10:16] airani commented on #52
I used File cache and works fine and problem not solved!

Again, I explain problem:

I Upload a.mp4 (100mb) file from chrome browser and it's successfully uploaded in /storage path. Again, I upload a.mp4 (100mb) file from firefox browser and it's successfully uploaded in /storage path. But /storage/a.mp4 size is 200mb now!

[2018-06-12 16:13] ankitpokhrel commented on #52
@airani can you provide cache contents for those cases. i.e first, upload a file and copy its cache key and contents. Then, upload same file again from another browser and copy cache key and contents.

[2018-06-13 07:10] HinaSharma1988 opened #53 "Resumable File Upload using API"
I need to do resumable file uploading using REST API (Laravel),
API will be consumed by Android APP.
Please Suggest.

[2018-06-13 16:20] ankitpokhrel commented on #53
@HinaSharma1988 you can setup server in Laravel as explained in [this doc](https://github.com/ankitpokhrel/tus-php/wiki/Laravel-&-Lumen-Integration). After you setup the server, following endpoints will be available to you.

[code]

Now either you can use [tus-android-client](https://github.com/tus/tus-android-client) (recommended) or manually send request to these endpoints to upload your file.

[2018-06-14 03:46] terrylinooo opened #54 "Client side for Uppy"
I know the endpoint is set for Tus server.
[code]

But I do not know how to call client, any tips will be appreciated.

[2018-06-14 08:46] ankitpokhrel commented on #54
@terrylinooo uppy internally uses [tus-js-client](https://github.com/tus/tus-js-client). When using tus-php with uppy you don't need to do anything but pass the tus endpoint. The step would be something like this:
1. Setup tus server using tus-php
2. Pass server url to `endpoint` in uppy config as you did

Client part is auto handled by uppy. You can refer to this [uppy integration example](https:

[2018-06-14 09:07] terrylinooo commented on #54
Thank you.  I finally give up to try uppy.
I use your basic examle in Codeigniter 3 framework and it works good. Thank you.

[2018-06-14 09:10] terrylinooo commented on #54
Here is my code in Codeigniter 3, if someone need it.
[code]

[2018-06-15 02:18] terrylinooo opened #55 "[Feature request] Add setCacheDir method in AbstractTus.php"
I meet permission problem so I have to define the cache dir for my app, however I found setCacheDir is defined in FileStore.php, is it possible to add setCacheDir method in AbstractTus.php?

Thanks.

[2018-06-15 02:44] terrylinooo commented on #55
Or change the $cache variable from protected to public,
[code]
And I can use the setCacheDir method from $cache object
[code]

[2018-06-15 02:46] ankitpokhrel commented on #55
You can do
[code]

[2018-06-15 02:47] terrylinooo commented on #55
Thank you

[2018-06-15 02:49] #55 closed

[2018-06-16 09:28] japheth-waswa opened #57 "Advanced Server"
Great library,i have been able to get it up and running,though i need more functionality on the server ie
1.Returns/extract the size of file uploaded ie for each partial request
2.Returns/Extract the location of the uploaded file and the file name
The above two must be able to be done on the server side.
Thanks in advance.

[2018-06-16 14:52] ankitpokhrel commented on #57
@japheth-waswa you can get size and path from cache

[code]

[2018-06-16 18:43] japheth-waswa commented on #57
Thanks. on the server side, how can I add additional parameters on the
response to client ie I wanna return the total size uploaded on each
request

On Sat, Jun 16, 2018, 17:52 Ankit Pokhrel <notifications@github.com> wrote:

[2018-06-17 04:10] ankitpokhrel commented on #57
The response header contains `Upload-Offset` which is the sum of the offset before the `PATCH` request and the number of bytes received and processed or stored during the current `PATCH` request. To get the header you can do something like this:

[code]

[2018-06-17 08:04] japheth-waswa commented on #57
Thanks lemme try them

On Sun, Jun 17, 2018, 07:10 Ankit Pokhrel <notifications@github.com> wrote:

[2018-06-20 06:33] #53 closed

[2018-06-30 05:12] #57 closed

[2018-07-13 18:29] ankitpokhrel commented on #52
Closing because of no response

[2018-07-27 20:45] yanpantoja opened #62 "example implementation"
Could you provide a tutorial on how to implement?﻿

[2018-07-27 23:17] ankitpokhrel commented on #62
You can find example implementation inside `example` folder. Framework integration doc is in [wiki](https://github.com/ankitpokhrel/tus-php/wiki).

[2018-07-28 05:31] yanpantoja commented on #62
Thanks for the answer. And sorry for the ignorance, but I still have doubts about how to configure the Server.php and Client.php files. For example, I tried to open the basic example, from the example folder, however the 500 error occurs when going to verify.php during upload. Sorry for my bad English. Printscreen link: https://drive.google.com/open?id=1h5NR4cf9J6KAud6WX5gct9_4L7bQaJ9n

[2018-07-31 12:34] karan-levaral commented on #44
I am also facing this issue, I think in Uppy server they are using socket to show the actual progress

[2018-08-05 10:14] Yangwendaxia opened #63 "Your requirements could not be resolved to an installable set of packages"
With Laravel 5.6.29 , I got following error info when I installed this package
[code]

It seems that **laravel/framework v5.6.29 requires nesbot/carbon 1.25.*** while this package requires **netbot/carbon ^1.26**.

[2018-08-05 17:25] #63 closed

[2018-08-06 15:41] Yangwendaxia commented on #53
@ankitpokhrel I need to do resumable file uploading using REST API (Laravel),
API will be consumed by browser。 After I setting up server in Laravel as you mentioned , how should I implement the client code ?

[2018-08-11 06:50] ankitpokhrel commented on #62
Closing due to inactivity

[2018-08-11 06:50] #62 closed

[2018-08-11 09:33] Fidelix opened #65 "Hooks or events?"
Hi, I'm investigating this library and have been able to successfully set it up.
Thanks for the work.

I have a few questions about how it works though.

Does it emit hooks or events so that I can for instance perform post-upload operations on the server?
I'd also like to be able to handle failed uploads, upload progress etc on the server.
I'm using it with Laravel.

Would it just be a matter of i

[2018-08-12 06:49] ankitpokhrel commented on #65
No it doesn't as of now. But it could be a nice addition to the project.

You can use [middleware](https://github.com/ankitpokhrel/tus-php#middleware) for that.

[2018-08-12 07:52] Fidelix commented on #65
@ankitpokhrel can you give an example (or just an idea) of how one could run a piece of code after a successful upload using a middleware (or something else)?

For me it seems like a middleware would not be the right place to do it.

Thanks for the help.

[2018-08-14 13:34] paschaldev opened #67 "Amazon S3 Bucket"
Is it possible to upload files directly to an S3 bucket?

[2018-08-15 11:18] ankitpokhrel commented on #67
Sorry it is not possible at the moment. PRs are welcome :)

[2018-08-15 11:18] #67 closed

[2018-08-18 08:33] DPerkunas opened #68 "Too many redirects when running verify.php in symfony 4."
Posted originally as something else, but I figured it out. I do however have an issue in Symfony. I'm getting the Too Many Redirects issue (max 5) when is ran on verify.php

**$offset = $client->setKey($uploadKey)->file($fileMeta['tmp_name'])->getOffset();**

[2018-08-18 11:13] DPerkunas commented on #68
I got it. I wasn't setting $client->setApiPath() I only set it on the server. Success 👍

[2018-08-22 04:05] Yangwendaxia commented on #52
@ankitpokhrel this issue should not be closed.
As @airani described, if we use two different browsers to upload the same file, all of them will send a POST HTTP request, it will lead to writing a file in the same directory, then Patch HTTP request will append chunked files to this file, I think it is the root cause of file appending issue.

[2018-08-22 15:04] ankitpokhrel commented on #52
@Yangwendaxia @airani Looks like you guys are trying to upload same file from different browsers in parallel. In that case, of course, one request is going to override another as the package is not designed for the distributed upload. But I agree that it would be great if we could make it work for distributed uploads.

[2018-08-23 10:46] springjk opened #70 "redis host config get error"
In my laravel case, `REDIS_HOST` is not `127.0.0.1`, it config in laravel `.env` file, if i use the clear command bin like reademe : `./vendor/bin/tus tus:expired redis`, it will get an error

[code]

https://github.com/ankitpokhrel/tus-php/blob/master/src/Cache/CacheFactory.php#L20
because there can't get the `REDIS_HOST`  env value, `./vendor/bin/tus tus:expired redis` don't run via laravel fram

[2018-08-23 10:52] springjk commented on #70
btw, redis port also can use this solution，but password can't，there have no code to get password, even i can copy or overwrite a new command to do it，but i  think add get password env code will be better way。

[2018-08-23 12:51] ankitpokhrel commented on #70
I see that there is no way to pass redis configs to expired command. Thanks for reporting, will check as soon as I can.

[2018-09-05 02:53] ankitpokhrel commented on #70
Fixed by #71, you can now pass path to your config file.

[code]

Details [here](https://github.com/ankitpokhrel/tus-php#expiration).

[2018-09-05 02:53] #70 closed

[2018-09-17 06:18] mohsininayatkhan opened #73 "file cache is not getting saved"
Using tus client for uploading a file and getting following error in http error log

_PHP Fatal error:  Uncaught TypeError: Argument 2 passed to TusPhp\\File::seek() must be of the type integer, null given, called in /var/www/html-tus/vendor/ankitpokhrel/tus-php/src/Tus/Client.php on line 527 and defined in /var/www/html-tus/vendor/ankitpokhrel/tus-php/src/File.php:387_

While debugging, found tha

[2018-09-17 14:46] ankitpokhrel commented on #73
@mohsininayatkhan can you share details how you setup the server? It looks like you are using file cache in client but redis in server.

[2018-09-18 05:42] mohsininayatkhan commented on #73
The server setup is on different machine and is written in C#. It will not work with different server?

[2018-09-18 15:45] jjsee opened #75 "Suggestion: Support custom headers"
Hi,

I'm thinking of using this package as a TUS client to interact with Cloudflare Stream that uses TUS as well. Cloudflare requires that I send some authentication headers together with my request.

Since Guzzle already supports custom headers, would you consider adding it too?

Thanks.

[2018-09-18 16:50] ankitpokhrel commented on #75
@jjsee Did you tried using [Middleware](https://github.com/ankitpokhrel/tus-php#creating-a-middleware)? Take this as an [example](https://github.com/ankitpokhrel/tus-php/blob/master/src/Middleware/Cors.php).

[2018-09-18 16:59] jjsee commented on #75
Is that more for a TUS server? I'm actually looking for TUS client implementation to upload to Cloudflare Stream.

[2018-09-18 17:17] ankitpokhrel commented on #75
@jjsee can you share an example of what exactly you want to do? It will help to figure out proper solution

[2018-09-20 08:09] ankitpokhrel commented on #73
The client gets [upload offset](https://github.com/ankitpokhrel/tus-php/blob/master/src/Tus/Client.php#L478) from cache while sending upload request to the server and only sends the chunk of data that hasn't been uploaded yet instead of sending whole file again. So, the client should be able to access cache set by the server as per current implementation.

But it seems that client doesn't really n

[2018-09-21 17:09] ankitpokhrel commented on #73
Fixed in #76

[2018-09-21 17:09] #73 closed

[2018-09-24 04:16] tomeroto opened #77 "Cannot read file, when using file based cache"
I just get an error like show on the picture below:

[CLICK HERE TO SHOW SCREEN SHOOT](https://image.ibb.co/kQDkCU/error_resumeable.png)

I use Macbook Pro for development, and using MAMP.

[2018-09-25 11:57] ankitpokhrel commented on #77
@tomeroto this looks like a permission issue in your setup, nothing to do with the package

[2018-09-25 11:57] #77 closed

[2018-09-25 23:40] tomeroto commented on #77
I was set permission folder "/Applications/MAMP/tmp/php/" to 777 and its still not working.

[2018-09-26 22:59] drastik commented on #52
@ankitpokhrel
This is not only when attempting parallel.

I'm using Uppy as the frontend widget with TUS PHP in the back.  No matter what the set of circumstances (same browser, different, etc); if you upload the same filename to same directory, it appends it on to the existing file.

Sometimes I get a warning about no `Upload-Offset` value.

[2018-09-27 11:50] ankitpokhrel commented on #52
@drastik When you clear browser local storage, uppy will send new request for the upload. Here, the file is being appended because file with same name already exist in the server. If you want to prevent that, you can organize your uploads in the server. For instance, you can prefix your file name using upload key or save all new uploads in a separate folder.

You can change `server.php` from [exam

[2018-09-27 12:02] ankitpokhrel commented on #68
@DPerkunas what was the size of a large file you tried to upload?

[2018-09-27 15:49] shravanthanvi opened #79 "Regarding saving the files into sub folders"
Hi
Want to have an example in php where in want to save the files into the subfolder based on key generated

[2018-09-27 16:05] drastik commented on #52
Right.

[2018-09-27 16:09] drastik commented on #52
Oops, early comment.

@ankitpokhrel
Do you think that is a good behavior though? To upload the same file and concatenate into existing, causing a broken file.  I patched tus-php's ```handlePost()``` to check if we have the upload key in cache, and if we have full filesize already. If we do, it sends request back without trying to create or concatenate it again.

Do you see an issue with this appro

[2018-09-27 18:15] ankitpokhrel commented on #79
@shravanthanvi You can change `server.php` from [examples](https://github.com/ankitpokhrel/tus-php/blob/master/example/server.php) to the following. It will save all new uploads in a separate folder.

[code]

[2018-09-27 18:20] shravanthanvi commented on #79
Thank you will try it and let you know

[2018-09-27 18:22] shravanthanvi opened #80 "Using it under slim"
Hi

Any plans to support this under slim3 framework

[2018-09-27 21:15] DPerkunas commented on #68
@ankitpokhrel 700mb.

[2018-09-28 03:37] ankitpokhrel commented on #80
@shravanthanvi The package is framework agnostic, that means, you can use it with any php framework you choose to work with. You just need to prepare server by following the [documentations](https://github.com/ankitpokhrel/tus-php) and taking ideas from [framework integrations doc](https://github.com/ankitpokhrel/tus-php/wiki).

[2018-09-28 03:37] #80 closed

[2018-09-28 03:52] ankitpokhrel commented on #68
@DPerkunas yes please check with latest build first and provide the steps to reproduce the issue along with any technical details that might be helpful in reproducing the issue.

[2018-09-28 04:19] samundra commented on #52
Wow! You guys are having an interesting discussion going on. When I have sometime I will try to reproduce the error at my end and will try to figure out.

Regarding the actual query, I think there's no way for server to know which file belong to which client other than doing the manual tagging on the file itself. So, like already provided here, the easiest solution would be to identify the client

[2018-09-28 04:38] ankitpokhrel commented on #52
Reopening this issue because of ongoing discussions

[2018-09-28 17:27] drastik commented on #52
Can we match the file from client to cache by `checksum`?

[2018-09-29 04:52] ankitpokhrel commented on #52
@drastik Won't you have same issue again after you clear your server cache (same as you cleared localStorage)?

We can do it only if all clients sends checksum on their request. But it is not the case even in uppy. That is why we have this condition to ignore checksum if we don't get any checksum in request header.

https://github.com/ankitpokhrel/tus-php/blob/9a34d982246b3867b9213fb3d187b5fb4c5c0

[2018-10-03 02:44] #79 closed

[2018-10-03 02:45] #52 closed

[2018-10-05 16:54] drastik opened #86 "Importance of handleGet() as a file download? Mirror behavior to handleHead()?"
The Symfony2 PHP framework silently transforms all `HEAD` requests into `GET`.
https://github.com/symfony/symfony/issues/22028

This affects Drupal 8, as well as Laravel I'm sure:
https://www.drupal.org/project/drupal/issues/2752325

I don't know the stats, but between Drupal, Laravel, and Symfony itself.. this affects a substantial group of PHP projects.

What this causes is if you try to resume

[2018-10-09 22:28] drastik commented on #86
@ankitpokhrel  @samundra

Do you guys have any thoughts here?
It would be great if Symfony were to fully implement `HEAD` requests, but there have been many arguments for it in the past, and they were all shot down.  I don't know what the chances are of Symfony doing so, but I put in the feature request regardless.

[2018-10-10 03:34] samundra commented on #86
Changing HEAD request to GET is definitely not desired. However, lets verify the changes needed for HEAD request to implement it in Symfony Request/Response. But we have to identify its impact on the project. Waiting for thoughts from @ankitpokhrel

[2018-10-10 15:31] ankitpokhrel commented on #86
File download in `GET /files/<hash>` request is not a part of the tus specification. I would propose to move current file download endpoint to `GET /files/<hash>/get` and treat `GET /files/<hash>` same as HEAD request.

I am open for other ideas.

[2018-10-11 07:12] samundra commented on #86
@ankitpokhrel I think we should try to implement what current tus-servers have implemented for the download request.

The solution that you proposed could work as custom solution for download extending on top of official tus server implementation.

I think we should implement the custom solution that are already in use by most tus-servers.

[2018-10-16 14:59] ankitpokhrel commented on #86
Changed in #87

[2018-10-16 14:59] #86 closed

[2018-10-17 17:10] DPerkunas commented on #68
Getting to it this week. Just wanted to post again to let you know that I'm still up for this.

[2018-10-18 14:59] richard-keller opened #88 "Ability to set headers for Requests"
When using tus-php in client mode, there is no way to set headers using middleware. It appears that it's only possible to set headers in server mode.

[2018-10-20 15:11] ankitpokhrel commented on #75
Related #88

[2018-10-21 11:40] richard-keller opened #91 "TusClient is missing required headers"
I'm currently trying to use tus-php to upload to [CloudFlare Stream](https://developers.cloudflare.com/stream/getting-started/uploading-command-line/). It looks like tus-php doesn't include all the standard required headers that the Tus protocol requires, and CloudFlare ends up giving an obscure error, and doesn't upload the file successfully.

Is there any way to output debug information so that

[2018-10-21 13:37] ankitpokhrel commented on #91
@richard-keller you can pass `['debug' => true]` to guzzle options to [debug requests](http://docs.guzzlephp.org/en/stable/request-options.html#debug) after #90 is merged.

Can you be more specific on what headers are missing?

[2018-10-21 15:58] richard-keller commented on #91
When sending a HEAD request, the header **must** contain a `Tus-Resumable` field which specifies the Tus version. As far as I can see, tus-php isn't sending the Tus version header. The request should look like this:

[code]

Additionally, when sending a PATCH request, the header must contain the `Upload-Offset` and `Tus-Resumable` fields. As far as I can see, tus-php isn't sending these.

From the

[2018-10-21 17:33] richard-keller opened #92 "Incorrect implementation of Creation extension"
I've been trying to use tus-php to upload files to CloudFlare Stream. Eventually got it to work after much fiddling. Core to the problem seems to be that the tus-php client specifies its own upload filepath using the $key parameter, whereas this does not appear to be according to the protocol spec.

As per the Tus spec, on file creation, CloudFlare returns a Location header, which specifies the up

[2018-10-21 17:49] ankitpokhrel commented on #88
Fixed in #90. Guzzle options can be passed via constructor.

[code]

[2018-10-21 17:49] #88 closed

[2018-10-22 14:10] alexandrelgy opened #93 "Throwing 404 errors in Laravel"
Your API seems great ! But i've been scratching my head for a few days now to integrate it. I'm still a beginner in Laravel and in php in general  but it seems that after following all your integration process (I found it very clear), I guess it throws 405 error at the upload stage.

I already included csrf in the header request.

[Error message.txt](https://github.com/ankitpokhrel/tus-php/files/2

[2018-10-22 14:34] ankitpokhrel commented on #93
Ping @DrudgeRajen

[2018-10-22 14:52] DrudgeRajen commented on #93
@alexandrelgy Checked your error.txt file.
[code]
Instead of 405 there is 404 error. Can you please share what you have kept in your Service Provider (to run server) of  Laravel? Did you follow this [doc](https://github.com/ankitpokhrel/tus-php/wiki/Laravel-&-Lumen-Integration) properly?

[2018-10-22 14:58] DrudgeRajen opened #94 "Client is able to set ApiPath."
Checked the code and found that Client can set the ```$apiPath```  and which  is in the abstract scope of two classes. i.e Server and Client both.

From Abstract Class :
[code]
So, this means that php Client can set the server API path . Is this the right way? Isn't it vulnerable?

[2018-10-22 15:04] alexandrelgy commented on #93
Yes I did followed this doc ! I might have missed something ?
Then would 404 come from a route I did not register ?

Here is the service provider :

**Service Provider**
[code]

[2018-10-22 15:10] DrudgeRajen commented on #93
@alexandrelgy  Just remove
[code]
this line from your service provider.
And from your route
[code]

and Replace
[code]
with
[code]
Let me know if doesn't work.

[2018-10-22 15:20] alexandrelgy commented on #93
It seems like now the verify call does not work neither returning a 500 server error specifying

message | Server error: `HEAD http://dancenote.test/files/a885eae6a4904422193a8a7584287c2b` resulted in a `500 Internal Server Error` response

[2018-10-22 15:39] DrudgeRajen commented on #93
@alexandrelgy did you add ``` TusServiceProvider``` class in config/app.php?

[2018-10-22 15:43] ankitpokhrel commented on #93
@alexandrelgy you can find laravel logs in `storage/logs`. Please check the logs and try to figure out the issue first. We can't help unless you provide us enough info about the issue.

[2018-10-22 15:46] #94 closed

[2018-10-22 15:49] alexandrelgy commented on #93
Sure I did add this App\Providers\TusServiceProvider::class.
I'll check the doc once again and let you know if I did everything right !
@ankitpokhrel I'll also check logs and let you know if I figure out what's wrong.

Thanks for help to you both ! :)

[2018-10-22 17:03] samundra commented on #94
@DrudgeRajen Could you please leave a comment on why you decided to close this issue. It still looks like a valid point and for some reason you decided you close it.

[2018-10-22 17:07] samundra commented on #93
@alexandrelgy In any case, Could you please share your log file that's generated in `storage/logs` folder for the problem you are facing?

[2018-10-22 17:14] DrudgeRajen commented on #94
@samundra Actually it was my confusion. If you use server and client in the same application then the client should have the flexibility of changing the ```$apipath```. Because you may have a collision of the same routes name if used default one. So, if the client is able to set the path then you can update the path of server manually and overcome the route name collision.

[2018-10-23 06:39] alexandrelgy commented on #93
Sure, here it is. I'm going to investigate it today and keep you updated.

[laravel.log.txt](https://github.com/ankitpokhrel/tus-php/files/2504786/laravel.log.txt)

[2018-10-23 13:44] ankitpokhrel opened #96 "Add missing checks in patch request"
Some checks are missing in patch request

- All PATCH requests MUST use Content-Type: application/offset+octet-stream, otherwise the server SHOULD return a 415 Unsupported Media Type status.

- [Invalid now](https://github.com/tus/tus-resumable-upload-protocol/pull/137/files) ~If a PATCH request does not include a Content-Length header containing an integer value larger than 0, the server SHOULD r

[2018-10-23 14:07] ankitpokhrel opened #97 "Client should check Upload-Expires header during upload"
The Client SHOULD use Upload-Expires header to determine if an upload is still valid before attempting to resume the upload.

https://tus.io/protocols/resumable-upload.html#upload-expires

[2018-10-23 14:38] samundra commented on #93
@alexandrelgy  As per your provided log file this line

[code]

states that it was unable to connect to redis server when you tried to make request for the file.

[2018-10-23 17:58] alexandrelgy commented on #93
Nice thanks @samundra & @DrudgeRajen seems to work now !
I've been debugging a few things but i'm facing a response like :
Unable to open /directory/dancenote/storage/app/public/uploads/filnename.file_extension.

I'll investigate it tomorrow but if by any chance someone you have already faced the problem let me know ! :)

[2018-10-24 03:40] #91 closed

[2018-10-24 05:00] samundra commented on #93
Is your file uploaded successfully to upload directory `/directory/dancenote/storage/app/public/uploads/filnename.file_extension` ?

[2018-10-24 05:03] DrudgeRajen commented on #93
@alexandrelgy  For server you had set upload directory as
[code]
So, please be sure you have ```` uploads ```` directory at ```storage/app/public```

[2018-10-24 06:52] alexandrelgy commented on #93
Forgot to create it. Directory was missing what a fool.
It seems to work (pause resume and so on).

Really thank you you've been great help !

[2018-10-24 06:56] #93 closed

[2018-10-24 15:05] ankitpokhrel commented on #96
Fixed in #98

[2018-10-24 15:05] #96 closed

[2018-10-29 11:08] alexandrelgy opened #99 "How to overide file checking"
Hi,

I was wondering after reading the doc and implementing tus-php with your help, how would it be possible to upload the same file several times in dev environment.

I'm running your example file I adapted under laravel.
Each time I try to upload a file that has already been sent, verify request is the only hit and returns Uploaded: 100.00% in js console and i would like it to be uploaded anyway

[2018-10-29 14:00] samundra commented on #99
@alexandrelgy If you are trying to upload same file on the same upload directory then you have to clear the cache and also delete the file from the server upload directory everytime before upload from the client.

[2018-10-29 14:16] alexandrelgy commented on #99
I've already cleared browser cache, run tus:expired and deleted files from directories(forgot to mention last one sorry).
Each time file has done uploading, it is moved to another custom directory with a custom mtdir function.

[controller.txt](https://github.com/ankitpokhrel/tus-php/files/2525577/controller.txt)
[js.txt](https://github.com/ankitpokhrel/tus-php/files/2525578/js.txt)

[2018-10-29 14:46] samundra commented on #99
@alexandrelgy Can you please share the code on pastebin.com or somewhere in online and remove the attached link to downloadable files.

And after removing the browser cache also you were unable to upload files?

[2018-10-29 14:56] alexandrelgy commented on #99
Thanks for sharing good practices. I've edited my post.

No neither ! The TusFile sends a uploaded 100% message.

[2018-10-30 10:19] ajarti opened #100 "Multiple parallel uploads for single file?"
Hi guys,
            I am using Uppy with tus-php on Laravel. My understanding is that the tus protocol besides being more redundant would allow multiple parallel upload streams for a single file, thereby speeding it up.

I cannot for the life of me find any help on this .. I can only get a single path stream going, well that's what it looks like in chrome dev tools networking tab.

Any help is mu

[2018-10-30 11:16] samundra commented on #100
Hey @ajarti

Currently, Tus-php doesn't support parallel uploads. However, this is something that might be for the future versions.

@ankitpokhrel What do you think?

[2018-10-30 16:51] ankitpokhrel commented on #99
@alexandrelgy There is no relation with browser cache and `tus:expired` will only delete expired uploads. Default TTL is 1 day.

You need to delete server cache to upload same file again. For `redis` you can connect to redis server and delete the entry. If you are using file cache then you can delete `.cache/tus_php.cache` file.

[2018-10-30 16:51] #99 closed

[2018-10-30 17:10] ankitpokhrel commented on #100
@ajarti @samundra actually it can be done using concatenation extension as mentioned in this [blog post](https://tus.io/blog/2018/09/25/adoption.html).

<img width="1464" alt="concat" src="https://user-images.githubusercontent.com/2364546/47736335-17168f80-dca1-11e8-9e14-7450abd7999b.png">

We can use [tus-js client](https://github.com/tus/tus-js-client) and [tus-php server](https://github.com/ank

[2018-11-10 05:56] #100 closed

[2018-11-12 15:00] AurelienMendes commented on #97
Hello Ankit,
I'm so glad because you helped me to integrate TUS protocol in my Laravel application !!!
However, there is some strange behaviors with Upload-Expires, since I got randomly 410 Gone error on multiple file upload with Uppy Client and your Server.
For example, the same test done twice, which consists in trying to upload at same time 4 images (around 100Ko each) gives me
First time
[imag

[2018-11-13 10:10] AurelienMendes opened #102 "Clean cache after upload complete/success ?"
Hi Ankit,

When I want to upload a file twice, the second time the upload is not sent since the HEAD request (200 OK) consider the file is fully uploaded (Eg : Upload-Length: 156354 && Upload-Offset: 156354) since the Server find in cache an 'offset' key ...

So, would not it be better to remove the cache for files which has been successfully uploaded ?

Thank,
Aurélien

[2018-11-13 10:39] AurelienMendes commented on #44
I am also facing this issue but only when uploading many files in parallel.
But when files are processed sequentially (limit: 1 in uppy.tus) then the progress bar is correctly filed.

[2018-11-16 02:53] ankitpokhrel commented on #102
You can lower the cache TTL using [setTtl](https://github.com/ankitpokhrel/tus-php/blob/master/src/Cache/AbstractCache.php#L20) method. [Default TTL](https://github.com/ankitpokhrel/tus-php/blob/master/src/Cache/AbstractCache.php#L8) is 86400s (1 day).

[2018-11-17 03:56] ankitpokhrel commented on #97
@AurelienMendes From these statements I assume that this might be happening:
- You are using FileStore for cache.
- You initiate multiple parallel uploads using uppy.
- Uppy tries to write metadata in file parallelly.
- As FileStore is simple cache implementation and doesn't count for [Readers-writers problem](https://en.wikipedia.org/wiki/Readers%E2%80%93writers_problem), one key can be overridde

[2018-11-18 05:07] #92 closed

[2018-11-18 05:50] ankitpokhrel opened #103 "Add shared locks to FileStore"
Implement basic file locking to prevent reading from file when another instance of php script writes to the same file.

Related https://github.com/ankitpokhrel/tus-php/issues/97#issuecomment-439585562

[2018-11-19 16:00] #103 closed

[2018-11-21 07:51] #102 closed

[2018-11-21 07:56] ankitpokhrel commented on #68
Closing due to inactivity.

Please create new issue with steps to reproduce and other info that could be helpful in debugging if you are still facing this issue.

[2018-11-21 07:56] #68 closed

[2018-11-21 17:39] kurumbus opened #106 "How to do something on server when upload is completed?"
I would like to do some stuff when the upload is finished. (transcode uploaded file for example and uploaded it to S3).

You mentioned in #65 that it can be done by middleware, but I honestly can't understand how.
Could you please give at least a general idea of how to go about it? I honestly tried, but can't grasp.
Or instead of middleware should I do something like described here #57 ?

[2018-11-21 20:51] TCB13 opened #107 "Simple test not working - resulted in a `404 Not Found`"
Hello,

I was trying to run a simple test with this implementation however I must be doing something wrong because I can't get it to work. Here is my local web server root:
[code]

As you can see I've a `server.php` file:
[code]

And a `client.php`:
[code]

Also `. htaccess `:
[code]

Now, when I run the client, I get:
[code]

I'm just using the code on the example, shouldn't it work?

Thank you.

[2018-11-22 10:32] ankitpokhrel commented on #100
@ajarti The process is perfectly described in this [blog post](https://abdelhady.net/2018/11/17/uploading-extremely-large-files-the-awesome-easy-way-tus-server/).

[2018-11-22 11:59] ankitpokhrel commented on #107
You defined server url to be `http://tus.test/` but seems your server is not accessible at that url. You can check it by hitting that url in your browser or using `curl` in command line.

[2018-11-22 14:53] TCB13 commented on #107
@ankitpokhrel webserver is accessible. If I remove it all and add a simple `index.php` it works. Maybe some issue with the `.htaccess` rules?

[2018-11-22 16:06] TCB13 opened #108 "Old version of Carbon"
Currently using 1.26.3. The latest version is 2.6, maybe an upgrade?

I believe the current version is locked on 1.26 because of Laravel, however there are other frameworks and contexts where running Carbon 2.6 is needed.

[2018-11-22 16:13] ankitpokhrel commented on #106
@kurumbus no it can't be done with middleware. The package doesn't emit any hook/event after upload completes. One way it can be done is to get uploaded files from cache in server and process it from there.

[2018-11-22 16:17] samundra commented on #107
@TCB13 Can you please post the output of `curl -I http://{{yourserver}/server.php/files`?

[2018-11-22 17:15] ankitpokhrel commented on #108
@TCB13 can you try to install package from `issue-108` branch and check if it works.

[code]

[2018-11-22 22:43] jcubic opened #109 "Chunk upload"
I've just found this project and spec and it's pretty cool but I have question.

Is it possible to use this project and tos spec to upload file that is larger then file limit set by Apache server?

I have my own implementation of chunk upload for files larger then php limit. But it require to delete old file before upload because it use append to original file name.

And I was wandering if can I,

[2018-11-23 04:54] ankitpokhrel commented on #106
@kurumbus yes, adding hooks is in the project roadmap. I won't promise that it will be done anytime soon but of-course it will be added in the near future. PRs are welcome! :)

[2018-11-23 08:47] ankitpokhrel commented on #109
@jcubic Yes, you just need to send chunks less than limit set by your server. The process is more or less summed up in this [blog post](https://abdelhady.net/2018/11/17/uploading-extremely-large-files-the-awesome-easy-way-tus-server/).

[2018-11-23 12:32] TCB13 commented on #109
@jcubic as @ankitpokhrel explained the chunk functionality can be used for that. I'm currently doing it both for Apache and IIS.

[2018-11-23 12:33] TCB13 commented on #108
@ankitpokhrel yes it does work. :)

[2018-11-23 13:30] jcubic commented on #109
Awesome, thank you.

[2018-11-23 13:30] #109 closed

[2018-11-24 08:17] #108 closed

[2018-11-25 08:18] kurumbus commented on #106
@ankitpokhrel  Well, honestly if somebody smarter than myself would help with the general principle, I could implement it and would be glad to help. But I'm not sure, what pattern to use here.

[2018-11-26 09:53] TCB13 commented on #107
Never mind, it was something related to uploading the same thing, with the same key and name multiple times.

[2018-11-26 09:53] #107 closed

[2018-11-27 16:49] AurelienMendes commented on #52
Hi everybody !
Since I faced the same problem, I would like to propose/discuss an optional solution.

The context : we have a folder "**TEST**" with inside a file **a1.jpg** and a "**SUBTEST**" subfolder with inside a different file but with the same name, "**a1.jpg**"
Thus we have
`TEST/a1.jpg`
`TEST/SUBTEST/a1.jpg`

Now in **Server** class, in the **handlePost** method
`$filePath  = $this->getUp

[2018-12-03 03:15] #106 closed

[2018-12-03 03:17] ankitpokhrel commented on #106
@kurumbus initial support for events has been added: https://github.com/ankitpokhrel/tus-php#events

[2018-12-03 19:49] kurumbus commented on #106
@ankitpokhrel Thank you!

[2018-12-07 16:15] TCB13 opened #114 "TusPhp\Middleware\Cors: Access-Control-Allow-Origin set as null"
**Describe the bug**

At the middleware `TusPhp\Middleware\Cor` its possible for the header `Access-Control-Allow-Origin` to be set as `null`. This can cause issues down the line, specially if you're trying to convert the TUS response into a PSR7 object using `Symfony\Bridge\PsrHttpMessage\Factory\DiactorosFactory`.

Here is the affected chunk:

[code]
If `$request->header('Origin')` returns `null

[2018-12-07 17:01] TCB13 commented on #114
I've submitted PR #115 to address this issue. Sets the header as `*` if the result is null.

[2018-12-07 17:37] ankitpokhrel commented on #114
@TCB13 you can [create your own middleware](https://github.com/ankitpokhrel/tus-php#creating-a-middleware) and override `\TusPhp\Middleware\Cors` middleware.

[code]

[2018-12-10 17:05] TheMalcolm opened #116 "Composer install, missing Events"
**Describe the bug**
When I installed the package via composer, I noticed that the **Events** library is missing.

**To Reproduce**
Steps to reproduce the behavior:
1. composer require ankitpokhrel/tus-php
2. missing **ankitpokhrel/tus-php/src/Events** library

[2018-12-10 18:12] TheMalcolm commented on #116
@ankitpokhrel thanks a lot! :)

[2018-12-10 18:12] #116 closed

[2018-12-15 17:45] HollyIT commented on #52
I've been dealing with the same problem. What I've come up with, which seems to be working great with testing (resumes with no problem and no filename collisions) is to extend the Server class and copy the handlePost() method into my new class, then simply prepend a uniqid() to the fileName in the path:

[code]

This got me thinking that maybe a better, permanent solution would be to offer the pos

[2018-12-22 04:49] #114 closed

[2018-12-23 04:58] #97 closed

[2019-01-02 20:11] robov opened #118 "Uploading 'hangs' when glueing"
Your package looks awesome. I am testing it out right now.
When I upload a big file (1G) the uploading itself goes pretty quicky, but then it seems to hang here :
![image](https://user-images.githubusercontent.com/8173436/50609995-ae7ea580-0ed1-11e9-9700-f04e5d461a51.png)

I am not sure what this is... I guess this is now glueing the chunks ?
However when I close the browser during this process,,

[2019-01-02 20:11] robov commented on #118
ps. I am not using redis
Would that make a difference ?

[2019-01-03 04:05] samundra commented on #118
@robov Could you please let me know what do you mean by you are not using redis.

If you have used the setup instruction provided on the repository itself then it already has the redis.

How did you setup the project for test?

[2019-01-03 08:09] robov commented on #118
Without redis Like this:
[code]

For the rest I followed your default instructions and used your uppy example.
I also noticed the same type of behavior on the uppy test website with the 1G file. So I guess it is something on their side.

[2019-01-03 10:02] samundra commented on #118
@ankitpokhrel Can we mark this as duplicate of https://github.com/ankitpokhrel/tus-php/issues/44

They look to be very similar.

[2019-01-03 11:52] ankitpokhrel commented on #118
Closing as a duplicate of #44

[2019-01-03 11:52] #118 closed

[2019-01-04 11:28] robov opened #119 "Laravel Example"
Could you please include a laravel example in the example set ?

[2019-01-05 12:01] Fidelix opened #120 "File object missing checksum and key on concat"
**Describe the bug**
The `File` object being inserted into the `tus-server.upload.merged` event is missing the upload key and the checksum.

They are defined but are never put back into the $file object:
https://github.com/ankitpokhrel/tus-php/blob/91f2f92e038dbd5e137743fb4ff0adc97d527eff/src/Tus/Server.php#L422

**To Reproduce**
1. Add a listener to the `tus-server.upload.merged` event;
2. Inspec

[2019-01-05 12:07] Fidelix opened #121 "Create a public setChecksum method"
I have pre-calculated hashes for my files and Tus needs to calculate the hash again (or one needs to monkey-patch the Client class with a setChecksum method) for every file.

Monkey-patching is ugly, and unnecessary in this case as it's a method that would very much make sense to have on the Client.

[2019-01-05 14:27] #119 closed, assigned to nobody

[2019-01-06 04:53] ankitpokhrel commented on #120
Fixed in #122

[2019-01-06 04:53] #120 closed

[2019-01-09 19:21] nanayaw-kirk opened #124 "Getting upload metadata for post upload processing"
I have been able to integrate the protocol into an existing laravel project and I am able use the event hooks for post upload processing. However, fetching the form fields/meta field sent along (I am using uppy by the way) the upload is proving a pain. I can't seem to fetch it off the $event->getRequest() instance in the post upload event hook.
Any pointers?

[2019-01-12 04:19] ankitpokhrel commented on #124
@nanayaw-kirk `$event->getRequest() ` is tus [Request](https://github.com/ankitpokhrel/tus-php/blob/master/src/Request.php) instance which will not have form fields details. You will need to get it from laravel request object inside the event hook.

[2019-01-14 11:27] anasser opened #125 "File name collision"
Uploading two files with the same name appends their bytes to the same file on the server, resulting in corrupted files.

[2019-01-14 11:30] ankitpokhrel commented on #125
@anasser Please refer to issue #52

[2019-01-14 13:02] anasser commented on #125
Thank you very much for the quick response. I have used the workaround you mentioned in the other thread and it works fine.

I do not believe mixing files should be the default behaviour, however. Still thank you for this great work.

[2019-01-14 13:02] #125 closed

[2019-01-15 07:49] Yangwendaxia opened #127 "./vendor/bin/tus does not exist"
**Describe the bug**
execute
[code]
shows following error info
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. composer require ankitpokhrel/tus-php

**Expected behavior**
no error occured.
**Screenshots**
![image](https://user-images.githubusercontent.com/3424048/51165954-dc55e800-18dc-11e9-94ac-9d81037e48b8.png)

[2019-01-15 08:00] ankitpokhrel commented on #127
@Yangwendaxia can you try to fetch `issue-127` branch and see if it works

[code]

[2019-01-15 08:12] Yangwendaxia commented on #127
@ankitpokhrel issue-127 branch works fine.

[2019-01-15 08:13] #127 closed

[2019-01-15 08:14] ankitpokhrel commented on #127
@Yangwendaxia Thanks for confirmation. I will make new release tonight (TH time).

[2019-02-09 02:50] #124 closed

[2019-02-22 17:14] sjelfull opened #131 "Use in Yii 2.0"
**Is your feature request related to a problem? Please describe.**
I'm trying to run this in a Yii 2 controller, but i'm finding that Yii is overriding certain things like the status code.

**Describe the solution you'd like**
It would be great if the sending of the response could be decoupled some how, so that I could use the Yii response/routing handling. Maybe some way to get the status code, h

[2019-02-22 18:15] sjelfull commented on #131
Turns out there is a `createOnly` option in the Response class.

Something like this worked for me:
[code]

[2019-02-23 05:13] ankitpokhrel commented on #131
@sjelfull thank you for creating an issue and posting your solution, It will help others 👏👏👏

[2019-02-23 05:13] #131 closed

[2019-02-27 10:24] Ludoviccharruau opened #132 "Unable to create resource"
Hi,
I'm trying to get the demo to work and I get an error in Client.php when calling the create() method in the upload() method. I don't know if this is due to a configuration error on my part. After a search in the closed issues, I decide to post a new one.

server.php
[code]

verify.php
[code]

upload.php
[code]

Thank you in advance for your assistance.

[2019-03-04 09:43] ankitpokhrel commented on #132
@Ludoviccharruau can you double check if you have write permission in your uploads folder?

[2019-03-04 10:42] Ludoviccharruau commented on #132
@ankitpokhrel Yes, I have write permission on that folder. Maybe the path to the file is not the right one? Does it have a default location?

[2019-03-04 10:54] ankitpokhrel commented on #132
@Ludoviccharruau yes, it sets following path if upload dir is not defined.

https://github.com/ankitpokhrel/tus-php/blob/1c36d2d542d848036c6e1fe85e8e1bb22f64833a/src/Tus/Server.php#L87

You can change upload dir in your app. That should fix the issue.

[code]

[2019-03-04 16:00] Ludoviccharruau commented on #132
After a chmod 777, it seems that a permission issue has been resolved. However, an error persists in Client.php: l.501 in the `sendPatchRequest(int $bytes, int $offset)` method  when using the getUrl() method, which throws a FileException with the message: "File not found".

[2019-03-04 16:05] Ludoviccharruau commented on #132
@ankitpokhrel After a chmod 777, it seems that a permission issue has been resolved. However, an error persists in Client.php: l.501 in the `sendPatchRequest(int $bytes, int $offset)` method  when using the` getUrl()` method, which throws a FileException with the message: "File not found".

[2019-03-13 07:10] ankitpokhrel commented on #132
@Ludoviccharruau are you using file based cache or redis? Looks like the file url is not saved in your cache. Can you make sure your app can be connected to the cache in case you are using redis. And for file based case make sure that your app can create file inside a `cache` folder.

https://github.com/ankitpokhrel/tus-php/blob/1c36d2d542d848036c6e1fe85e8e1bb22f64833a/src/Config/client.php#L17-L2

[2019-03-14 15:17] Ludoviccharruau commented on #132
@ankitpokhrel I think I use a based cache. In I got this from the cache: `{"tus:client:42585b81d9f4daea44a7dd03bd6ed2b9":{"location":false,"expires_at":"Thu, 14 Mar 2019 09:45:44 GMT"},"tus:client:b92257139dc4e5b16f54da6119feec42":{"location":false,"expires_at":"Thu, 14 Mar 2019 09:45:56 GMT"}}`
Could it be due to the fact that I use LAMP ?

[2019-03-15 04:01] ankitpokhrel commented on #132
@Ludoviccharruau no, it doesn't matter what server stack you use. The issue might be because cache file is created inside your `vendor` folder.

Can you copy [config files](https://github.com/ankitpokhrel/tus-php/tree/master/src/Config) from your `vendor` directory to your project folder and set config path before server and client creation.

[code]

In the config file you just copied, change `cac

[2019-03-15 15:35] Ludoviccharruau commented on #132
@ankitpokhrel I made the changes, and I still get the same _File not found_ error.  Client and Server must have the same cache? In the original configuration, I had the impression that there were two different ones : _tus_php.client.cache_ et _tus_php.serveur.cache_ ?

[2019-03-15 17:53] pdiveris commented on #132
No, they don't have to be the same but they both need to point to existing directories in which your webserver has got write access. Can you attach the config blocks of both your server and the client please?

[2019-03-15 20:20] Ludoviccharruau commented on #132
@pdiveris I followed @ankitpokhrel's advice above: I specified
another path to a cache folder in a config file that I placed at the root of my project.
```<?php return [     /**      * Redis connection parameters.      */     'redis' => [         'host' => getenv('REDIS_HOST') ?? '127.0.0.1',         'port' => getenv('REDIS_PORT') ?? '6379',         'database' => 1,     ],     /**      * File cach

[2019-03-15 20:34] pdiveris commented on #132
Ye sure you are clear . I don't know what happened here, in the beginning I could only see a block of code that was invalid (the redis line wasn't closing), you seem to have updated it whilst I was answering you. So, on the basis of this updated block you just posted I would check two things
1. Does `/home/ludovic/labo/test-tus/cache/` exist and does you webserver user (www-data perhaps?) have wri

[2019-03-15 21:12] Ludoviccharruau commented on #132
1. yes /home/ludovic/labo/test-tus/cache/ exists and www-data has write permission on the cache/ folder

2.I don't use redis, I use the custom configuration `Config::set('/home/ludovic/labo/test-tus/Config/config.php');` and I instantiate the server this way: '$server = new \TusPhp\Tus\Server(); '

[2019-03-15 21:25] pdiveris commented on #132
OK, so if I were you my net move would be to
1. Change the line `$server = new \TusPhp \Tus\Server();` to explicitly using file, i.e. `$server = new \TusPhp \Tus\Server('file'); and
2. I'd be tempted to see whether the user `www-data` has `x` and `w` permissions on the parent folders too. Two easy ways to check without spending the whole night are a) try create a file through a `sudo -u www-data`

[2019-03-26 15:19] alhaji-aki opened #133 "Cors Problem"
Hello there, I keep getting cors errors. I created a new middleware to handle cors and when I remove the Access-Control-Allow-Origin I get this error "No 'Access-Control-Allow-Origin' header is present on the requested resource." but when I add it I get an error "The 'Access-Control-Allow-Origin' header contains multiple values 'http://localhost:3000, http://localhost:3000', but only one is allowe

[2019-03-26 15:23] pdiveris commented on #133
Can you show us what's in your middleware?

[2019-03-26 15:27] alhaji-aki commented on #133
`<?php

namespace App\Http\Middleware;

use TusPhp\Request;
use TusPhp\Response;

class TusCorsMiddleware
{
    /** @const int 24 hours access control max age header */
    const HEADER_ACCESS_CONTROL_MAX_AGE = 86400;

    /**
     * Handle an incoming request.
     *
     * @param  \Illuminate\Http\Request  $request
     * @param  \Closure  $next
     * @return mixed
     */
    public function h

[2019-03-26 15:33] pdiveris commented on #133
You said this is using the Spatie Cors package? Have you published the vendor config? If yes, what's in your `config/cors.php`?

[2019-03-26 15:37] alhaji-aki commented on #133
Yes I have published the config file

`
<?php

return [

    /*
     * A cors profile determines which origins, methods, headers are allowed for
     * a given requests. The `DefaultProfile` reads its configuration from this
     * config file.
     *
     * You can easily create your own cors profile.
     * More info: https://github.com/spatie/laravel-cors/#creating-your-own-cors-profile
     */

[2019-03-26 15:40] pdiveris commented on #133
Can try to change `'allow_origins' => [ '*', ] ` to `'allow_origins' => [ 'localhost' ]` and see what happens -  as a test, not as **the** solution!

[2019-03-26 15:48] alhaji-aki commented on #133
@pdiveris It is still the same

[2019-03-26 15:48] pdiveris commented on #133
OK, that's weird. Let me do a check over here.

[2019-03-26 15:53] alhaji-aki commented on #133
Ok

[2019-03-26 15:56] pdiveris commented on #133
If you change your `'allow_origins' => [ 'localhost' ]` to `'allow_origins' => [ 'bob' ]` does the error message reflect that? I.e. mention 'bob' twice?

[2019-03-26 16:03] alhaji-aki commented on #133
Thank you @pdiveris The cors problem is no longer no more...

[2019-03-26 16:16] alhaji-aki commented on #133
But now I am seeing this error... net::ERR_NAME_NOT_RESOLVED.

[2019-03-26 16:28] pdiveris commented on #133
Are you using valet? Change localhost to a normative name and put it in /etc/hosts.

[2019-03-26 16:29] alhaji-aki commented on #133
It has changed to No 'Access-Control-Allow-Origin' header is present on the requested resource.

[2019-03-26 16:30] alhaji-aki commented on #133
I have

I have done this. Now it has changed to No 'Access-Control-Allow-Origin' header is present on the requested resource.

[2019-03-30 16:10] alhaji-aki commented on #133
Still not found a solution to this. I have even removed spatie cors, and every cors middleware but still not working... So frustrating at the moment...

[2019-03-30 16:12] alhaji-aki commented on #133
This is my route
`Route::any('/submit/{any?}', function () {
    $response = app('tus-server')->serve();
    return $response->send();
})->where('any', '.*');`

Then I created a TusServiceProvider and in the register method This is what I did
`$this->app->singleton('tus-server', function ($app) {
            $server = new TusServer();

            $server
                ->setApiPath('/api/submit'

[2019-04-03 03:43] ankitpokhrel commented on #133
Hi @alhaji-aki

If you are using [TusPHP Cors Middleware](https://github.com/ankitpokhrel/tus-php/blob/master/src/Middleware/Cors.php#L19), try changing `'Access-Control-Allow-Origin' => $request->header('Origin')` to `'Access-Control-Allow-Origin' => '*'` in your local.

If this still doesn't work for you then please list all the steps you followed and changes you made. Also the snapshot of actua

[2019-04-03 14:25] xzessmedia commented on #133
im using TusPHP together with Symfony which works great, but i was not able to get around the cors issue.. when i use my react frontend from a local dev server it works without problems and i can upload a file but im using a cors browser plugin for my local development.
on my remote im using nelmios cors with symfony and no cors browser plugin. it works for all routes except the tus route.
i also

[2019-04-03 20:43] alucic opened #134 "OPTIONS response should have Tus-Resumable header"
**OPTIONS response missing Tus-Resumable header**

I just glanced over the code and forgive me if I got it wrong.
From what I see, GloablHeaders will exclude `Tus-Resumable` from OPTIONS response, which is not by the spec
https://github.com/ankitpokhrel/tus-php/blob/1c36d2d542d848036c6e1fe85e8e1bb22f64833a/src/Middleware/GlobalHeaders.php#L21-L23

`OPTIONS` request example from the specification h

[2019-04-04 03:15] ankitpokhrel commented on #134
Hi @alucic, thanks for reporting. Looks like I misinterpreted the statement in the spec. Are you able to send the PR?

[2019-04-04 03:24] ankitpokhrel commented on #133
Hi @xzessmedia , can you skip tus cors middleware and see if it works for you

[code]

[2019-04-04 08:54] alhaji-aki commented on #133
Hello

Hello @ankitpokhrel
I switched to [barryvdh/laravel-cors](https://github.com/barryvdh/laravel-cors).
In my service TusServiceProvider I skipped the TusPHP Cors Middleware and now I am not getting the multiple values error again but I am getting a new set of errors which looks like this
![Capture](https://user-images.githubusercontent.com/19788708/55542542-ca533c80-56b6-11e9-864d-2240fd894d4

[2019-04-04 09:17] ankitpokhrel commented on #133
@alhaji-aki I assume you are passing your route through the laravel cors middleware?

[code]

[2019-04-04 09:37] alhaji-aki commented on #133
@ankitpokhrel yeah it is placed on all middlewares. So I placed it the Kernel. It looks like this
![Capture](https://user-images.githubusercontent.com/19788708/55545666-333db300-56bd-11e9-86d3-7348f003a953.PNG)

[2019-04-04 11:53] xzessmedia commented on #133
hi thanks for the quick reply, always good  to see repositories aliveness 👍
unfortunately i already tried that as i stated before.
it does not do any effect for me in terms of cors.

[2019-04-04 11:55] pdiveris commented on #133
Hey,

Is your source code open source? I mean, is there a way for me to get it and run it locally? (sorry for delay, I've been away for a week on b'day holiday.)

[2019-04-04 12:08] xzessmedia commented on #133
im very sorry i know it would be helpful but unfortunately im not allowed in contract

[2019-04-04 12:13] pdiveris commented on #133
Yes sure. How about the two relevant bits - I think you've already copied and pasted some of that code. Could you do that again in a single post so I know what I am looking at emulating?

[2019-04-04 12:16] pdiveris commented on #133
Actually don't bother - I've got enough above. Let me have a look.

[2019-04-04 12:40] xzessmedia commented on #133
since my other routes work without problems, maybe the middleware skip does not work?

this is my getServer()
`public function getServer()
    {
        $server = new Server();
        $server->setApiPath('/tus'); // tus server endpoint.
        $server->setUploadDir($this->params->get('kernel.project_dir') . '/public/uploads'); // uploads dir.

        $server->middleware()->skip(Cors::class);

[2019-04-04 12:44] pdiveris commented on #133
So, let me understand something. Why are we seeing rowa.test and localhost? What TUS client are using?

[2019-04-04 12:46] xzessmedia commented on #133
who do you mean?
im using it with uppy in frontend V. ^0.30.3

[2019-04-04 12:56] pdiveris commented on #133
Yes, I had a similar problem with uppy which insisted in resolving my host with one name and mnot respecting another one. I edited uppy.js line 11425 (of the non uglified version) and did this:

[code]
I also edited line 11447 of the same un-uglified version and did the same

[code]
Note that uppy insisted picking **zoro** as the hostname for a host configured also as **tus**. I can't remembered i

[2019-04-04 13:03] pdiveris commented on #133
Here's my edited version of uppy.js. As I said, nothing to lose. Just change the hostnames to reflect your env and fingers crossed!

[uppy.js.zip](https://github.com/ankitpokhrel/tus-php/files/3043519/uppy.js.zip)

[2019-04-04 15:04] alhaji-aki commented on #133
rowa.test is the url for the api. I am using valet to serve the api application in laravel locally and the client app is built with vue and nuxt js which is a different project and is running on localhost:3000

[2019-04-04 15:24] pdiveris commented on #133
Can't you have both in the same domain? E.g. app.local and rowa.local or something?

[2019-04-04 15:41] alhaji-aki commented on #133
Erm... not that I can think of currently

[2019-04-04 16:10] ankitpokhrel commented on #133
@alhaji-aki @xzessmedia this is not an issue in server side. You server is already accepting request from  all url (`*`). When you send a request from frontend, your request header must contain `Access-Control-Allow-Origin: http://app.test` header which is what the error is referring to.

So, make sure your client is sending that header when sending the request. Once that is included in your reque

[2019-04-04 16:13] pdiveris commented on #133
See above, the issue is with your client, not the server. Are the two instances two different IP addresses?

[2019-04-04 16:38] alhaji-aki commented on #133
I am using uppy js for my client side

[2019-04-04 16:43] pdiveris commented on #133
Yes, I've gathered that. What I am suggesting is that uppy is not playing nice, not the PHP script. If I were you I'd try to do the past and put/post requests from postman with the appropriate headers, to see what i am getting back. By appropriate headers I mean:

[code]

[2019-04-04 17:11] alhaji-aki commented on #133
Thank you @pdiveris I tried using postman to check my request.
So when I tried the PATCH Request I got this error back. Unable to open C:\xampp\htdocs\rowavision\storage\app/public/uploads\support2.PNG

[2019-04-04 17:15] pdiveris commented on #133
Yes sure, that's probably due to the slashes/backslashes. However, it does indicate that it is uppy that's not sending the right headers. As you can see from the error you posted above Postman doesn't suffer the Allow-Origin problem. I suspect you have to post this problem to the uppy guys. As I said, I am using uppy.js with Laravel and tus-php and I had to edit uppy.js to force it to send the cor

[2019-04-04 17:19] alhaji-aki commented on #133
@pdiveris ok I will do that and also can u be kind enough to paste your implementation of your TusServiceProvider?

[2019-04-04 17:28] pdiveris commented on #133
Yes sure, here it is:

This is my service provider:
[code]

This is my routes.php:

[code]

and this is my app.php

[code]

I don't seem to be setting any headers anywhere though. I am runningboth within the same "domain" (.dev).

[2019-04-06 03:11] #134 closed

[2019-04-06 21:42] jammersonf commented on #93
I have the same problem. I already follow the strunctions on this post, but i'm still in problem

Error:

web.php
![image](https://user-images.githubusercontent.com/2231447/55675609-7786aa00-589b-11e9-9c6c-6899d8854111.png)

TusServiceProvider.php
![image](https://user-images.githubusercontent.com/2231447/55675613-82d9d580-589b-11e9-8e03-e5d8485d7d89.png)

UploadController.php
`public function Upl

[2019-04-07 21:39] jammersonf opened #136 "405 method not allowed"
Error:

web.php
![image](https://user-images.githubusercontent.com/2231447/55690196-8b4a1300-5964-11e9-83d0-0339a61a3a68.png)

TusServiceProvider.php
![image](https://user-images.githubusercontent.com/2231447/55675613-82d9d580-589b-11e9-8e03-e5d8485d7d89.png)

UploadController.php
[code]

The Verify method is responding ok, the problem is only on upload.
Sorry for my bad English

[2019-04-08 03:11] ankitpokhrel commented on #136
@jammersonf I see you are using Guzzle client to send the request to tus server. While that will work if you follow [the protocol](https://tus.io/protocols/resumable-upload.html) properly, it is recommended to use one of the already [available clients](https://tus.io/protocols/resumable-upload.html).

You can check [basic example implementation](https://github.com/ankitpokhrel/tus-php/tree/master/

[2019-04-08 06:55] alexandrelgy commented on #93
405 errors in Laravel are often linked with csrf security in Laravel.

I added an exception to my VerifyCsrfToken.php and it worked for me.
I do not know if it is or not a bad habit in term of system security for production code, but for local use it seems fine. If the problem does come from here i suggest to add csrf headers in your ajax request.

    <?php

    namespace App\Http\Middleware;

[2019-04-08 22:44] jammersonf commented on #93
@alexandrelgy Really. I add o except and passed, but still with error.

`Client error: `POST http://dev.bembras.api/files` resulted in a `404 Not Found` response:\nNo input file specified.\n\n",`

I already put the /files on virtualhost
![image](https://user-images.githubusercontent.com/2231447/55761692-92415600-5a36-11e9-9e67-30abde89489a.png)

Also changed the `$client = new \GuzzleHttp\Client([

[2019-04-08 22:47] jammersonf commented on #136
@ankitpokhrel i changed for `$client = new \TusPhp\Tus\Client('http://dev.bembras.api')` and has passed. But i'm still in error

`Client error: `POST http://dev.bembras.api/files` resulted in a `404 Not Found` response:\nNo input file specified.\n\n",`

I already put the /files on virtualhost
![image](https://user-images.githubusercontent.com/2231447/55761692-92415600-5a36-11e9-9e67-30abde89489a.p

[2019-04-10 02:42] #136 closed

[2019-04-11 09:24] MichalKrakow commented on #133
Hey i've just run into the same issue. How do You recon the issue is on uppy's side.
For what i can see the options request goes with headers:
[code]
followed by post request with headers:
[code]
so what's wrong about this ?

the server responds on post request with shitty header containing:
[code]
can you lead me into the cause and some solution ?

[2019-04-11 09:31] pdiveris commented on #133
I can't I am afraid as I am not the author of that code. It would take me exactly the same time to find where that gets set as it would take you. Sorry.

[2019-04-11 10:50] MichalKrakow commented on #133
@ankitpokhrel
correct me if i'm wrong,
422 response means that server cannot process the request (fails at some point and breaks execution) and therefore it does not send the headers wchich are added later on with middleware. So i belive it indicates server side issue rather then client side.

[2019-04-11 10:59] MichalKrakow commented on #133
Ok i was right,
its so trivial.
@alhaji-aki at poit you get 422 response everything regarding cors is on place.
Server cant access folder in your storage cause it does not exist. Just create the location you set in TusServiceProvider (->setUploadDir(storage_path('app/public/uploads')) and give user rights to save there.

All good now.
Just to sum up:
[code]
Added dedicated middleware:
[code]
Used

[2019-04-11 13:53] ankitpokhrel commented on #133
@MichalKrakow Thank you for posting your findings and solution 👍

[2019-04-11 20:58] alhaji-aki commented on #133
Thank you @MichalKrakow... your solution worked... Thanks to all who helped me solve this issue...

[2019-04-11 21:04] #133 closed

[2019-04-20 09:43] francoisdop opened #137 "Laravel integration failed"
my env:
OSX / MAMP / Nginx / project: http://localhost:8888/blog/

I followed with precision  the instructions to integrate the package with Laravel:
(csrf token + service provider + route pointing the tusd server)

Service provider:

[code]

Route:

[code]

when i do a very simple test with axios :
[code]

it responds with a 404 not found.

in chrome debug console here is the server response:

[c

[2019-04-20 12:06] alhaji-aki commented on #137
Is your route supoosed to be `http://localhost:8888/tus/` or `http://localhost:8888/blog/tus/`?

[2019-04-20 12:33] alhaji-aki commented on #124
@ankitpokhrel how do I get the laravel request object inside the event hook.

[2019-04-21 07:31] ankitpokhrel commented on #124
@alhaji-aki you can get it from service container eg: `app('request')`

[2019-04-21 07:38] ankitpokhrel commented on #137
@francoisdop If the resource is not found, the server will respond with the `404 Not Found`. Please check [tus protocol](https://tus.io/protocols/resumable-upload.html#head). You should consider using [tus js client](https://github.com/tus/tus-js-client) instead of manually sending requests.

[2019-04-22 11:59] francoisdop commented on #137
@alhaji-aki my route is `http://localhost:8888/blog/tus/` because i have multiple project serve by MAMP. But I don't think that is an issue as the route works.

@ankitpokhrel I implemented your basic example (verify.php and upload.php)
after some debugging of the file Tus\Client.php, I noticed :

- the method `setApiPath('tus')` doesn't work as in the method `create(string $key)` `$this->apiPath`

[2019-04-22 14:35] alhaji-aki commented on #124
@ankitpokhrel I dumped the `app('request')` and its giving Me the laravel request object alright but it didn't contain the request parameters from my uppy form. I also noticed that the input fields that are added to uppy's metaFields didn't have a name attribute but rather a data-name attribute.

[2019-04-22 15:51] jammersonf opened #138 "Waiting long on verify method return"
Is normal waiting log on method verify?
![image](https://user-images.githubusercontent.com/2231447/56509157-a2f4d000-64fc-11e9-8620-80b15bc2765b.png)
in a 20mb file, waiting is almost 3 min

Other question: I need to upload a 4.5gb file, is about 4hours on verify e after that, no start the upload.

Any suggestion?

[2019-04-25 07:58] mahmudul opened #139 "Uppy-TUS-PHP (Local pc vs Server): file resuming starts from beginning after pause"
Hi, thanks for sharing the great library for TUS server implementation. I am using this library for Uppy. For last couple of days, I am facing issue with uppy file resuming using tus-php in my server running under php 7. Every time I pause and resume or reload browser, it loads from the start. The progressing circle goes back to zero and begin again. It should have been started where it left. This

[2019-04-26 14:16] ankitpokhrel commented on #137
@francoisdop

Not sure what you did here, but it doesn't seem possible for `create` method to return default value for `$this->apiPath` if it is changed using `setApiPath`. We will need more info here to figure out what's going on.

It can be this is because of the same url issue mentioned above. Will need more info to debug further.

[2019-04-26 14:22] ankitpokhrel commented on #139
@mahmudul is it possible for you to try with redis cache? File based cache is not as mature as redis though it should work in most of the cases.

In any case can you paste the contents of cache generated when you start the upload and after you refresh and start again?

[2019-04-26 16:05] mahmudul commented on #139
@ankitpokhrel, Possibly, I can try redis cache. Just wondering why not the file based cache is working in remote server where the local server was able to perform great using the same script.

A sample entry in the cache file ( .cache/ folder having 'tus_php.server.cache' file) looks like when I click pause:

`"tus:server:41b5c307-a9c5-406a-8a3a-a2335732ecf4":{"name":"IMG_0045.JPG","size":2078503,

[2019-04-26 16:35] ankitpokhrel commented on #138
@jammersonf no it is not normal, fixed in this commit: https://github.com/ankitpokhrel/tus-php/commit/18ef3b94c44af1b09c1d3496bbd4ad912f5e3c0e. I am still checking if the examples can be improved further. Thank you for reporting 👍

[2019-04-28 17:31] peter279k opened #140 "UUID enhancement"
**Is your feature request related to a problem? Please describe.**

According to the `Warning` and `Caution` block in official [reference](https://www.php.net/manual/en/function.uniqid.php), the [uniqid](https://www.php.net/manual/en/function.uniqid.php) will not be
the cryptographically secure value.

And it may be the collision value.

![image](https://user-images.githubusercontent.com/9021747/5

[2019-04-28 18:29] ankitpokhrel commented on #140
@peter279k PR would be great :)

[2019-04-30 12:07] Haseebfayyaz opened #141 "Syntax error"
catch (FileException | ClientException $e) {
            $this->create($key);
        } catch (ConnectException $e) {
         Message: syntax error, unexpected '|', expecting variable (T_VARIABLE)
i getting this error . I do not know the reson of error. Is due to php version or something I have version php 7 in my server

[2019-04-30 12:12] ankitpokhrel commented on #141
@Haseebfayyaz this library requires PHP 7.1 or higher. Support for multiple catch was added in PHP 7.1: https://wiki.php.net/rfc/multiple-catch#implementation

[2019-04-30 12:12] #141 closed

[2019-05-01 07:09] alhaji-aki opened #142 "Using tus events in event subscribers in laravel"
Hello, I am wanted to register the tus events as event subscribers in my laravel application but they are not working. This is how my event subscriber looks like:
[code]
I have registered the subscriber in my EventServiceProvider too but it is not dumping anything. Any help would be very much appreciated. Thank you.

[2019-05-01 08:26] Haseebfayyaz commented on #141
thank you

[2019-05-01 23:07] sull commented on #139
same issue for me, same setup.

[2019-05-02 04:04] peter279k commented on #141
You can also look at the `php` minimum version requirement in [composer.json](https://github.com/ankitpokhrel/tus-php/blob/master/composer.json#L13) file.

[2019-05-02 15:38] sull commented on #139
I decided to next try with Redis.

I've installed Redis and php-redis (4.2.0-1+ubuntu16.04.1) on server.
Setup the tus endpoint route in NGINX (/upload --> /upload.php)

uppy code:
`        uppy.use(Uppy.Tus, {
            endpoint: 'https:/mydomain.dev/upload/',
            resume: true,
            autoRetry: true,
            retryDelays: [0, 1000, 3000, 5000]
        })`

tus endpoint code in

[2019-05-02 15:51] sull opened #143 "Uppy related Predis errors"
I've installed Redis and php-redis (4.2.0-1+ubuntu16.04.1) on server.
Setup the tus endpoint route in NGINX (/upload --> /upload.php)

uppy code:
[code]

tus endpoint code in upload.php:

[code]

I am getting some errors:

_I tested Predis with test code to make sure I can connect, set k/v and get value, it succeeded._

Where am I going wrong?

Using file cache works for uploads, but as it pertain

[2019-05-05 18:19] ankitpokhrel commented on #142
@alhaji-aki tus-php events are independent of laravel events. You either need to create an adapter to make it work with laravel or attach listener to events as described [here](https://github.com/ankitpokhrel/tus-php#responding-to-an-event).

[code]

[2019-05-05 18:42] ankitpokhrel commented on #143
Fixed in #147

Please note that:

Default redis and file configuration for server and client can be found inside `config/server.php` and `config/client.php` respectively. To override default config you can simply copy the file to your preferred location and update the parameters. You then need to set the config before doing anything else.

[code]

Alternately, you can set `REDIS_HOST`, `REDIS_PORT

[2019-05-05 18:42] #143 closed

[2019-05-08 09:55] vldivn opened #148 "Install error symfony 4.1"
Hello, have error installing by composer for symfony 4.
![Screenshot from 2019-05-08 12:52:43](https://user-images.githubusercontent.com/12767098/57366832-7a253980-7190-11e9-9d0d-8d8b88488d3a.png)

my packages
![Screenshot from 2019-05-08 12:55:09](https://user-images.githubusercontent.com/12767098/57366863-87dabf00-7190-11e9-9698-df0a4438d7e2.png)

[2019-05-13 17:36] #148 closed

[2019-05-14 03:48] ximengyi opened #150 "example help"
I downloaded this library example  when  i use basic demo ,it response 'Unable to create resource'  error all the time, please help me debug this error,i use windows environment，thank you ~~

this is upload file
[code]
this is verify file

[code]

this is nginx conf

[code]

[2019-05-14 07:33] ankitpokhrel commented on #150
From your nginx config it seems that your tus server endpoint is `http://bigupload.test` instead of `http://bigupload.test/server.php`.

[code]

[2019-05-14 07:51] ximengyi commented on #150
I have tried your suggestion, but it has not changed, still returns "{"status":"error","bytes_uploaded":-1,"upload_key":"","error":"Unable to create resource." }", I feel very confused, what other might make this error?

[2019-05-14 07:52] ximengyi commented on #150
I have tried your suggestion, but it has not changed, still returns "{"status":"error","bytes_uploaded":-1,"upload_key":"","error":"Unable to create resource." }", I feel very confused, what other might make this error?

[2019-05-14 20:17] ankitpokhrel commented on #150
@ximengyi you can get full error trace by commenting catch statements in above methods. Also check your server log to find any clue on the error. Looking at the error I can only say that there is some permission issue in the uploads dir.

[2019-05-16 11:45] ximengyi commented on #150
Thank you, I have run successfully, as you said, this is the problem of folder permissions. I moved the environment to linux, I found the error log, windows did not prompt, prompted under linux, I put the relevant files The folder permissions are set to 777, it works, hahaha, thank you very much~

[2019-05-16 16:11] #150 closed

[2019-05-16 16:13] #138 closed

[2019-05-20 10:16] janakpuri opened #153 "tus-example of uppy work perfacly on localhost but not on apache server"
**Actually this is not bug or enhancement. I am posting here because I cant find proper documentation to understand some issues I have.**

I am working on a project to upload large size(max 20gb) videos to server.
I have implemented your partial upload example.
And I am getting "Oops! Something went wrong. Please try again!".

I tried to debug the error and it lead me to the client.php file (src f

[2019-05-20 16:08] samundra commented on #153
@janakpuri It's interesting that you're trying to upload 20GB of file.

I have 2 questions mentioned below:

1. Did you try to pull this repository and then tried uploading 20GB of file upload?
2. Did you setup your local TUS Server and then tried uploading there?

After that we can begin to dig more.

[2019-05-20 22:22] myrka777 opened #154 "Symfony integration failed"
Could you please explain symfony integration little bit more, I spend 2 hours without result

[2019-05-21 05:05] janakpuri commented on #153
hey @samundra

I am running on local TUS server and tried uploading it.

[2019-05-22 06:52] samundra commented on #153
Can you please explain us how you came to the conclusion that `Basically this happening because of 200 passed in $statusCode.`?

Also, I would suggest you to try 20GB upload on repository code without any custom changes to make sure that it works/breaks without changes.

[2019-05-22 07:31] janakpuri commented on #153
Earlier when file was not uploading, I thought some important parameter might not be passing via POST request. So, I tried to echo errors and that lead me to Client.php file (located here - "tus-php/src/Tus/Client.php")

In client.php file,

`    public function create(string $key) : string
    {
        $headers = [
            'Upload-Length' => $this->fileSize,
            'Upload-Key' => $key,

[2019-05-23 07:15] ankitpokhrel commented on #154
@myrka777 can you please provide more info on what is not working exactly?

[2019-05-24 06:21] axay97 commented on #153
hey @janakpuri @samundra @ankitpokhrel
I am posting here because I am also confused about the **server.php file,** **endpoint** and **upload path.**

1. Where to place server.php?
2. What is endpoint and what it contains?
3. Where will be file uploaded using your example/basic or example/partial folder for reference?

I am using it on Windows 8 with xampp which has PHP 7.3 version.

Also, I am get

[2019-05-25 07:01] janakpuri commented on #153
hey @samundra,

**Also, I would suggest you to try 20GB upload on repository code without any custom changes to make sure that it works/breaks without changes.**

I have tried as you suggested But I am getting same error as @axay97 has defined.

**Unable to create resource**

I am unsure what causes that error. Guide me through this error.

[2019-05-26 14:02] HankBrown opened #155 "Basic installation failed ("But I followed the recipe!?")"
**Describe the bug**

Basic installation failure.

**To Reproduce**

[code]

**Expected behavior**

No error messages.

**Screenshots**

None

**Additional context**

I suspect  the message is telling me how to fix it, that this issue is really my own ignorance with composer.  But when it try various arguments for composer, I find no joy.

Curiously, the composer command works from an empty folder

[2019-05-26 14:42] ankitpokhrel commented on #155
@HankBrown you are cloning and then trying to install the same package via composer. I think you meant to do `composer install` after `cd tusphp` step, instead of require.

[2019-05-26 15:27] HankBrown commented on #155
You are correct.
Argh. I have a dual php system and had not used composer with 7.2
That may have added to my confusion...
I _think_ php 7+ is a requirement.

[2019-05-26 15:27] #155 closed

[2019-05-27 12:26] georgewritescode opened #156 "400 Bad Request error - Laravel"
Hi,
When implementing this library into my laravel app with the https://github.com/tus/tus-js-client library I am receiving a 400 Bad Request error.

I have tried this in two server environments, docker and a vagrant box, and am receiving the same error with both.

I can var_dump until ```$response->send();``` and so it seems the request is hitting the code fine and it is running until that send f

[2019-05-28 05:30] axay97 commented on #153
hey @janakpuri I suggest you to use uppy example from example folder.

**Please note that create "uploads" folder in tus-php directory and you might also wanna remove "redis" from server.php file.**

**And set your endpoint like - "https://myurl.com/tus-php/example/server.php"**

**Another thing which might cause this error is "require '/../../vendor/autoload.php'  "
Make sure You have vendor fold

[2019-05-28 07:06] ankitpokhrel commented on #156
@georgewritescode are you able to access all tus endpoints using curl or any other http or tus client?

[2019-05-28 08:41] AhmedHelalAhmed opened #157 "I have a question about Integration with Laravel and google storage"
**Describe the bug**
It's not a bug but a question I have Laravel application and I'm using google storage as storage for my application, I need to upload large files 50 GB or more and searched and found this package I saw this https://github.com/ankitpokhrel/tus-php/wiki/Laravel-&-Lumen-Integration
but it's for Laravel storage is there any way to make it in google storage through Laravel?

**Addi

[2019-05-28 10:57] georgewritescode commented on #156
Hi @ankitpokhrel ,
Thanks for your response.

I solved this by adding a metadata property to the tus-js-client with the fileName and fileType properties within it.

If you like I can add a tus-js-client example to the readme.

Thanks,
George

[2019-05-28 10:57] #156 closed

[2019-05-28 11:49] ankitpokhrel commented on #156
That would be great :)

[2019-05-29 02:54] georgewritescode commented on #156
Done. Thanks for accepting the PR.

All the best

[2019-05-29 15:47] alhaji-aki commented on #124
For anyone finding it difficult to get form fields from their request.

- Form fields are only available when the upload process starts so to get them u have to listen for `tus-server.upload.created` event.
- Then in the method where you are handling this event. The form fields are passed in the request header of the tus  [Request](https://github.com/ankitpokhrel/tus-php/blob/master/src/Request.ph

[2019-05-30 01:39] georgewritescode commented on #157
@ankitpokhrel I was thinking about this and wondering how this would work with servers which are load balanced and your request could go to any number of servers. With Tus chunking the file together, would this would disrupt the file being created? Perhaps in the future, we could see if it is possible to store the chunks on external storage providers like Google Storage/S3. Because the servers are

[2019-05-31 07:24] janakpuri commented on #153
Thanks @axay97
Your suggestion really worked.
I figured the problem was that I was setting endpoint as "http://myurl.com/example" which was not working.
So i changed it to "http://myurl.com/example/server.php" and videos started uploading.
Meanwhile It works totally fine on localhost.
But I am facing problem testing it on live server.
When I upload file larger than 500MB, it responds with net::ERR

[2019-06-02 10:20] fgm opened #159 "Document v1.0.0 incompatible changes from 0.1.0"
**Is your feature request related to a problem? Please describe.**
The Vimeo API is currently locked on v0.1.0, and we need to know what they would need to change to allow requiring ^1.0.0 instead of a strict 0.1.0 (see https://github.com/vimeo/vimeo.php/issues/208 ). They had to pin to 0.1.0 to solve an issue with later versions: https://github.com/vimeo/vimeo.php/issues/189

**Describe the solut

[2019-06-02 15:53] ankitpokhrel commented on #159
@fgm Previously we assumed that the client was stateless and were constructing the upload url based on the upload key. But later we realized that the client is not completely stateless and it needs to store some information about the upload that it needs to resume (#92 and https://github.com/tus/tus-resumable-upload-protocol/issues/139). v1.0.0 fixes this issue by introducing caching mechanism in

[2019-06-02 16:24] ankitpokhrel commented on #157
@georgewritescode As long as we are using same persistence disk for all servers we should not have any issue.

I looked into the possibility of storing files directly to s3 sometime back but had to drop the idea since I couldn't manage enough time to work on it. I am open for discussion if anyone wants to help with the external storage implementation. The original [tusd](https://github.com/tus/tus

[2019-06-02 17:00] fgm commented on #159
Thanks for this information.

I'm not sure what it will imply for the issues in the Vimeo client I mentioned, though.

[2019-06-04 11:13] klimentLambevski commented on #139
I have the same issue, tried with node js tus server and it works fine.
Tried with redis cache and it is the same. After pause the HEAD request always returns Upload-Offset: 0

Also i am getting this warning
upload.js?c775:422 Cross-Origin Read Blocking (CORB) blocked cross-origin response https://<url>/files with MIME type text/html. See https://www.chromestatus.com/feature/5629709824032768 for m

[2019-06-11 05:57] janakpuri commented on #153
tus example of uppy work perfacly on localhost but not on apache server
I am also having the same problem as yours @axay97.
However it was working well on local server But as i moved my code to live apache server it seem to be not working on larger files.
It started giving error when i upload 1 gb file.
Size of file was 1GB.
max_upload size is 40 GB in php.ini file

here is the error -
`PATCH http

[2019-06-11 08:29] axay97 commented on #139
same issue as yours @klimentLambevski

[2019-06-14 08:11] ximengyi opened #160 "Redis cache time suggestion"
I found that the uploaded file information is permanently stored in redis. I think this code is about 72 lines in TusPhp\Cache\RedisStore.
 $status = $this->redis->set($this->getPrefix() . $key, json_encode($contents))
This may be more appropriate

 $status = $this->redis->set($this->getPrefix() . $key, json_encode($contents),'EX',$this->getTtl());

[2019-06-15 08:13] ankitpokhrel commented on #160
@ximengyi this design decision is actually on purpose. We will not have any record of expired uploads if we set ttl at this point. You need to run [expiration script](https://github.com/ankitpokhrel/tus-php#expiration) in your server, periodically, to cleanup expired and unfinished files. This will cleanup your redis cache as well.

[2019-06-15 08:13] #160 closed

[2019-06-15 08:19] ankitpokhrel commented on #132
Closing due to inactivity, please feel free to comment and reopen the issue

[2019-06-15 08:19] #132 closed

[2019-06-15 08:19] ankitpokhrel commented on #142
Closing due to inactivity, please feel free to comment and reopen the issue

[2019-06-15 08:19] #142 closed

[2019-06-15 08:20] ankitpokhrel commented on #154
Closing due to inactivity, please feel free to comment and reopen the issue

[2019-06-15 08:20] #154 closed

[2019-06-19 08:01] addviu opened #161 "Connection refused [tcp://127.0.0.1:6379]"
I have installed tus-php and want to use it with vimeo api. I followed all steps to install tus but went I located to url ....../tus its displaying
Connection refused [tcp://127.0.0.1:6379]

I am using laravel. So please help me if i need to change some configuration.

[2019-06-26 07:24] ankitpokhrel commented on #161
@addviu make sure that redis server is running and you are able to connect. Or, you can also switch to [file based cache](https://github.com/ankitpokhrel/tus-php#server) , which is not recommended though.

[2019-07-02 13:22] Poldovico opened #162 "Grabbing upload URIs from tus-server.upload.created event listener"
I need to grab the URIs of new uploads on the server side to save it in a database, which I am trying to do by listening for the `tus-server.upload.created` event and grabbing it out of the response's Location header.
I am expecting this code to work:
[code]
But instead I just get NULL in my DB.
I tried printing $headers as json and it looks like this:
[code]
Which is nothing like what I get in th

[2019-07-02 16:15] Poldovico commented on #162
Ok, I just realised getUploadKey() exists.
That said, I am still curious why the headers I was messing with were different than the ones I was actually receiving.

[2019-07-10 00:16] alucic opened #163 "Save user sent meta data"
I would like to be able to store additional information. Once the file is created, any meta data that's passed by the client should be stored.

Example:
https://uppy.io/docs/uppy/#meta

As a user I'd like to read file meta and user set meta using `$event->getFile()->details();`

This would be helpful for issues like this one https://github.com/ankitpokhrel/tus-php/issues/124

Go implementation is

[2019-07-10 07:26] ankitpokhrel commented on #163
I think this will be a good enhancement. We would be happy to review and discuss the solution if you can send a PR.

[2019-07-10 07:48] ankitpokhrel commented on #162
Hi @Poldovico  looks like `Location` and `Upload-Expires` headers are set after sending the event, that is why you are not able to see those headers in response: https://github.com/ankitpokhrel/tus-php/blob/master/src/Tus/Server.php#L380-L391

[2019-07-16 15:47] Steveb-p opened #165 "Downloading a file causes a notice / Drop iconv dependency"
**Describe the bug**
Attempting to download previously uploaded file using `files/{token}/get` causes a notice:
`Notice: iconv(): Wrong charset, conversion from `UTF-8' to `ASCII//TRANSLIT' is not allowed`
which originates from
https://github.com/ankitpokhrel/tus-php/blob/3878a4933d9e62d4e9a543e88d2b76fd4787d0e1/src/Response.php#L137

**To Reproduce**
1. Upload a file (for example using `/files/{t

[2019-07-16 20:24] ankitpokhrel commented on #165
Most probably this is the issue with `iconv` extension not being configured properly in your php installation. But, anyway, it seems we can drop the dependency with `iconv` extension since `symfony` is already handling it internally as you mentioned.

Yes, it is intended and I believe you can modify `Uppy` link to add `/get` at the end of the URL.

[2019-07-16 22:08] Steveb-p commented on #165
@ankitpokhrel Thanks, I did stumble upon this in the past and didn't realize it's basically related to alpine docker having a different library (plenty of references to it actually). I've adjusted issue name to better reflect what is the expected course of action.

[2019-07-17 10:35] Steveb-p opened #167 "Changing file name server-side"
**Is your feature request related to a problem? Please describe.**
I'm looking for ability to customize file names for files uploaded. I've seen code that extracts file names from `Request`
https://github.com/ankitpokhrel/tus-php/blob/3878a4933d9e62d4e9a543e88d2b76fd4787d0e1/src/Tus/Server.php#L344
https://github.com/ankitpokhrel/tus-php/blob/3878a4933d9e62d4e9a543e88d2b76fd4787d0e1/src/Request.ph

[2019-07-21 08:50] #167 closed

[2019-07-21 08:54] ankitpokhrel commented on #167
@Steveb-p thanks for reporting the security issue, fixed in #168

To override file location, you can listen to `tus-server.upload.created` where you will have access to the upload key. You can use this key to override the cache content.

[2019-07-21 09:07] ankitpokhrel commented on #161
Closing due to inactivity, please feel free to comment or open a new issue if you need any help.

[2019-07-21 09:07] #161 closed

[2019-07-21 09:10] ankitpokhrel commented on #137
closing due to inactivity, please feel free to comment or create a new issue if you need any further help.

[2019-07-21 09:10] #137 closed

[2019-07-21 09:12] ankitpokhrel commented on #153
Hi @janakpuri , apologies for late response. Did you manage to sort out the issue or need any further help?

[2019-07-21 09:15] ankitpokhrel commented on #139
apologies for late response, are you guys having same issue after #143 was merged?

[2019-07-22 21:29] Steveb-p commented on #167
@ankitpokhrel could we move the emission of `tus-server.upload.created` event before cache is saved? That way there would be no need to manipulate cache in any way, and I don't see any mutation of `File` object from cache saving. All that would need to be done to change filename could be done from inside the event handler interacting with `File` object.

https://github.com/ankitpokhrel/tus-php/blo

[2019-07-23 13:41] frijj2k opened #170 "Spaces in filenames causes 400 bad request"
When using Laravel, php-tus and Uppy, everything is working fine until I drag-drop a file that has space characters in the filename.

I have autoProceed set to true and the file attempts to be uploaded but tus-php returns a 400 bad request. If I remove the space(s) from the filename and retry it works without issue.

I followed the Laravel/Lumen integration guide so my routes files looks like:

[c

[2019-07-23 14:32] frijj2k commented on #170
Ok so I managed to get it to work by changing the filename before being uploaded via:

[code]

In my Uppy config however this is not ideal as I would like to preserve the original filename. I guess I could add the original name to the meta data and convert it back at the server end once fully uploaded but still wondering if there's a way to avoid all this extra hassle?

[2019-07-23 14:54] ankitpokhrel commented on #170
@frijj2k this issue seems to be introduced by the latest change [here](https://github.com/ankitpokhrel/tus-php/blob/master/src/Request.php#L207) - #168

You can use old release (1.0.8) for now, I will fix it as soon as I get a chance. PRs are welcome.

[2019-07-23 14:56] #165 closed

[2019-07-23 15:07] Steveb-p commented on #170
@ankitpokhrel There you go :)

Yeah, spaces should not trigger validation error :) They should not allow one to break out of a directory.

[2019-07-23 15:23] #170 closed

[2019-07-24 09:09] frijj2k commented on #170
Nice one, thank you! :)

[2019-07-26 10:56] Steveb-p opened #172 "Allow manipulation of File before saving"
**Is your feature request related to a problem? Please describe.**
Changing for example file name during `tus-server.upload.created` requires manipulation of cache instance, causing an additional read/write to it.

**Describe the solution you'd like**
`tus-server.upload.created` event could be moved before cache is saved or an additional event could be dispatched before it (if we're considering ca

[2019-07-28 08:59] ankitpokhrel commented on #172
@Steveb-p `$fileName` is passed down the chain in that method, for eg `$fileName` is used to build file path:
https://github.com/ankitpokhrel/tus-php/blob/a9c9d954889c6eb1848426aa891cae6535449c65/src/Tus/Server.php#L356

This means that there will be side effects if we change the file name later in the process. User will have to modify file path along with the file name, which is bit odd. I would

[2019-07-30 09:28] Steveb-p commented on #172
@ankitpokhrel You're right, it would cause a side effect and would break following operations :/ I'll give it another thought later.

[2019-08-01 09:49] Poldovico commented on #172
Could editing the filename not be handled by a middleware?

[2019-08-01 09:54] Steveb-p commented on #172
If it would manipulate filename header on each request then yes. This would be necessary because then tus-php reads where file should be written based on this (unless I'm mistaken).

Tus protocol does not specify how filename should be passed to the server.
https://tus.io/protocols/resumable-upload.html#how-can-i-get-the-file-name-or-file-type-for-an-upload

[2019-08-06 13:56] MichalKrakow opened #175 "Multiple instances on one redis service"
I found it to impossible to set cache prefix which allows for only one instance of Tus running on one server. The ability to modify cache key prefix would allow for using multiple Tus server instances with single redis service running

[2019-08-06 14:02] ankitpokhrel commented on #175
You can configure cache during server initialization.

[code]

[2019-08-06 14:03] MichalKrakow commented on #175
Nice,
how would you acomodate it to Laravel integration scheme?

[2019-08-08 09:26] MichalKrakow commented on #175
I've tried changing the TusServiceProvider with:
[code]
But no luk there. Still it uses it's own key pattern.

I've noticed that second app running on the same server uses redis with index 2 **tus2:className** but i cant find why that's the case.

[2019-08-10 09:32] #163 closed

[2019-08-11 09:39] janakpuri commented on #153
hi @ankitpokhrel, apologies for late response.

I have managed to sort out this issue.
I do have another issue, But I think That is way different than this one. So, I am closing this issue.

Thanks you all.
@ankitpokhrel @samundra @axay97 @fidelix

[2019-08-11 09:39] #153 closed

[2019-08-12 07:00] samundra commented on #153
@janakpuri Can you please open another ticket for another issue that you are talking about? That would be helpful to keep track of issues.

And perhaps post the solution as well for the issue you had. It will serve as future reference for those who may encounter same issue like yours.

[2019-08-12 08:15] Poldovico opened #177 "Facilitate null-coalescing the return values of TusRequest::extractMeta()"
**Is your feature request related to a problem? Please describe.**
I find myself needing to fall back to alternative values in case a metadata field is not set. I also believe null is a more appropriate value to describe unset fields, and this behaviour would be coherent with that of Request::extractAllMetadata().

**Describe the solution you'd like**
I would like the Request::extractMeta() method

[2019-08-12 09:34] samundra commented on #177
I don'tthink it's a good idea to change the mixed return type. The current return type is string and is consistent to what it needs to be.

@Poldovico Like you have mentioned, solution would be to nullify empty string and create a utility wrapper method for it which we can implement in application level. The change necessarily do not need to be done on tus-php itself. Thus, I am closing this issue

[2019-08-12 09:34] #177 closed

[2019-08-12 13:47] ankitpokhrel commented on #175
@MichalKrakow can you please let us know how can we reproduce this issue? Clear steps on what you did, what was expected and what you got instead would be helpful.

[2019-08-29 11:30] darthf1 opened #183 "Retrieve metatadata in tus-server.upload.complete event"
Hi,

I want to add logic after a file has been uploaded completely, for which i need some metadata. I'm missing the `Upload-Metadata` header data during the `tus-server.upload.complete` event. It is available in the `tus-server.upload.created` event.

Is it possible to get the `Upload-Metadata` information in the `tus-server.upload.complete` event? I'm using Symfony and couldn't find the header in

[2019-09-17 01:33] silver247 opened #186 "Duplicate response when upload"
Hi, I've use tus-php integration with Laravel + uppy, it seem work without any problem but there is one thing that I've found that tus server always response with duplicate header, how can I fix it or this is normal?

btw I've attached screenshots downthere.

POST : ![1](https://user-images.githubusercontent.com/4065129/65004133-8cc13380-d925-11e9-82dc-749b019a1da4.PNG)
PATCH  : ![2](https://user-

[2019-09-19 14:23] LiaraAlis commented on #139
Unfortunately I have the same issue with the latest package version.
Locally it worked but on the server as soon as I pause the upload, the file can no longer be uploaded. And unfortunately I have no chance to try redis on this server… :(

[2019-09-21 08:27] #157 closed

[2019-09-21 08:27] #159 closed

[2019-09-21 09:05] ankitpokhrel commented on #186
No that is not normal. Can you provide steps on how did you setup your server in laravel?

[2019-09-21 09:05] ankitpokhrel commented on #186
Ping @DrudgeRajen

[2019-09-21 09:06] ankitpokhrel commented on #183
Ping @DrudgeRajen

[2019-09-21 09:40] ankitpokhrel opened #187 "Download link is broken in uppy example"
**Describe the issue**
Download link displayed after uploading the file should be `/files/<id>/get`.

**Steps to reproduce the behavior**
1. Spin up dev env with `bin/docker.sh`
2. Go to http://0.0.0.0:8080/uppy
3. Upload a file and try to download it by clicking on the name of the uploaded file.

![uppy](https://user-images.githubusercontent.com/2364546/65371485-3c6b0e00-dc64-11e9-8000-2054d843be

[2019-09-22 05:08] silver247 commented on #186
Thanks for replying

I've set up by using your wiki [via this link]( https://github.com/ankitpokhrel/tus-php/wiki/Laravel-&-Lumen-Integration )
Here is my TusServiceProvider.php
![1](https://user-images.githubusercontent.com/4065129/65382486-b072e800-dd30-11e9-8fa5-3d5a8d59c96f.JPG)
Ps. since I've dev in windows environment, so I used file system cache instead redis.

By the way, there is one more

[2019-09-23 16:02] DrudgeRajen commented on #186
@silver247 I tried with laravel 6.0 and uppy but I am not able to reproduce the issue. Can you please share some more details?

[2019-09-24 01:00] silver247 commented on #186
Thanks for replying

I'm not sure if it useful information but everytime I use tus with uppy, before POST method fired the request will send HEAD method and always return 404 (in case of new file) and it also has duplicate response header too (attach image below)
![3](https://user-images.githubusercontent.com/4065129/65473206-f6e75480-dea0-11e9-9837-4d0a48287c91.PNG)

By the way, can you share you

[2019-09-24 15:14] DrudgeRajen commented on #186
I follow the same documenation.

AppServiceProvider.php
[code]

web.php
[code]
uppy
[code]

[2019-09-24 16:43] DrudgeRajen commented on #183
HI @darthf1 Can you please share your implementation?

[2019-09-25 00:33] silver247 commented on #186
I have some update about this issue, When I deploy to cloud server (I use AWS) it work perfectly and this issue didn't occur. My assumption is this issue might occured from specific environment because I test with 2 computer and this issue still same.

Here is mine
1. Windows 10
2. Xampp version 7.2.7
3. PHP version 7.2.7
4. Laravel 6.0
4. Tus file base cache.

[2019-09-25 02:45] DrudgeRajen commented on #186
Glad to know that it is working on your server without any problem.  I tried to replicate the issue on Linux environment, with

1) Ubuntu 18.04
2) PHP  7.2
3) Laravel 6.0
4) Nginx
5) Tus file base cache.

I will try with same as of your environment and let's see if I can replicate. I think it is good to find the issue and fix it so that others will not have to suffer from it ;). Will let you know

[2019-09-28 21:08] ankitpokhrel opened #189 "Switch to PSR-12"
[PSR-2](https://github.com/php-fig/fig-standards/blob/master/accepted/PSR-2-coding-style-guide.md) is deprecated and [PSR-12](https://www.php-fig.org/psr/psr-12/) is now recommended as an alternative. We need to update our [cs-fixer config](https://github.com/ankitpokhrel/tus-php/blob/master/.php_cs) and apply changes to our codebase after PHP-CS-Fixer implements the` @PSR-12` group.

Waiting for:

[2019-09-28 22:29] ankitpokhrel opened #190 "Enable native function invocation"
Since PHP 7.0, some functions are replaced by opcodes, producing much faster code. Functions like [these](https://github.com/php/php-src/blob/f2db305fa4e9bd7d04d567822687ec714aedcdb5/Zend/zend_compile.c#L3872) and [these](https://github.com/php/php-src/blob/master/ext/opcache/Optimizer/pass1_5.c#L335-L338) can be referenced with root namespace `\` before function invocation to speed up resolving.

[2019-09-29 19:21] ankitpokhrel opened #191 "Make code coverage great again"
Increase test coverage to 100%

[2019-09-30 23:35] jonesdev commented on #190
I would like to attempt this issue.

I'll take a look now and submit a PR if it goes well.

[2019-10-01 06:08] #191 closed

[2019-10-01 18:22] #140 closed

[2019-10-01 18:25] #187 closed

[2019-10-02 19:19] ankitpokhrel commented on #183
Just tried this, upload metadata are available in both created and complete event.

@darthf1 please provide more information if you are still having issues.

[2019-10-03 17:38] ankitpokhrel commented on #190
Done in #193

[2019-10-03 17:38] #190 closed

[2019-10-03 21:14] jonesdev commented on #162
Hi @ankitpokhrel

What would be a good way to go about fixing this issue?

Dispatching the event with the location and upload expires header set?

[2019-10-04 07:05] ankitpokhrel commented on #162
@jonesdev yes, we first need to set the response headers, dispatch the event and then send the response.

[2019-10-04 09:14] jonesdev commented on #162
@ankitpokhrel

Hey -
![image](https://user-images.githubusercontent.com/36740276/66195973-aa193000-e68f-11e9-89b8-85a488a9a449.png)

Diff provided above; would this be acceptable? I'm unsure on how to test this (functionality wise) so would like to verify beforehand.

[2019-10-04 09:34] ankitpokhrel commented on #162
You are passing [third argument to event dispatcher](https://github.com/symfony/event-dispatcher/blob/master/EventDispatcher.php#L49) which doesn't exist. You need to add headers to the tus response before passing it down to `UploadCreated` event.

Not tested but it should be something like this.
[code]

[2019-10-04 09:44] jonesdev commented on #162
@ankitpokhrel

Totally forgot about checking the function for which or how many args it takes - my bad.

I'll look at implementing your suggestion and correcting any unit tests that may need to be corrected.

Thank you.

[2019-10-04 19:08] #162 closed

[2019-10-10 10:42] XartIrok commented on #186
Hi, i have the same problem i think it could be Windows, my main setup is different and i have duplicate header.

1. Windows + WAMP.NET
2. PHP7.2 + Nginx
3. Symfony 4.3
4. React + tus-js-client
5. file cache

[2019-10-24 15:08] PSchu opened #202 "Possible to resumes Uploads without Chunks?"
I am currently working on a background upload feature on an iOS App and the Server uses this Library.
I Currently have the problem that the uploads are not resumable if I don't upload them in chunks.
My question is now, if this is a constraint of this php implementation?
When I use the test server at https://master.tus.io/files I can resume aborted uploads without using chunks. I Think this test S

[2019-10-24 19:09] ankitpokhrel commented on #202
@PSchu I assume by "I don't upload them in chunks" you mean you are sending whole file in every request. The current design assumes that the server receives data in chunks, so yes this will have issues if the client sends full file in every request.

Is there any specific reason behind sending whole data to server in each request?

[2019-10-25 07:14] PSchu commented on #202
Maybe my Question was not detailed enough.

Following Scenario:

We start uploading the Frist time with the whole file.
This upload gets cancelled by something, for example the user turns on Airplane mode on his phone.
Next time we ask the server how much of the file he has with a head request.
The server I am currently working against who uses this library now always returns 0.
The server at http

[2019-10-27 08:41] ankitpokhrel commented on #202
This upload gets canceled by something, for example the user turns on Airplane mode on his phone.
Next time we ask the server how much of the file he has with a head request.
The server I am currently working against who uses this library now always returns 0.

This might be because the server is not able to save the state of the upload for some reason. It can be anything like getting out of memor

[2019-10-28 10:41] PSchu commented on #202
You are right I tried it with the local docker server in this project and it worked.
Thanks for the help I will try to talk to the backend provider.

[2019-10-28 10:41] #202 closed

[2019-10-29 10:23] rafaeltovar opened #203 "setKey() on client is not optional"
**Describe the bug**

Im implementing the Client library of v1.0.12 and if i don't use `setKey` (the documentation say that is optional) the system report me:

[code]

**To Reproduce**

[code]

**Expected behavior**
The system will generate an unique uuid.

[2019-10-29 15:11] ankitpokhrel commented on #203
Yes, the key is mandatory. Thank you for bringing this up.

[2019-10-29 15:12] #203 closed

[2019-11-04 14:15] #172 closed

[2019-11-05 09:48] alameenlr opened #208 "422 Unprocessable Entity While aws S3 as Storage Backend"
**Setup Details**
 Storage : AWS S3

**Errors**
PATCH _http://localhost/files/f586e634-1ca4-4d5b-b98c-1b46905f8f5f 422 (Unprocessable Entity)_
Uncaught Error: tus: _unexpected response while creating upload
    at XMLHttpRequest.t.onload_

[2019-11-07 14:05] alameenlr commented on #208
You Don't Know Why it is Happened?

[2019-11-10 14:53] #175 closed

[2019-11-11 19:58] ankitpokhrel commented on #208
@alameenlr From the error you posted I can only assume that the server is throwing some error. You need to check your server logs to figure out the actual issue.

[2019-11-18 14:38] ankitpokhrel commented on #139
Closing this as a duplicate of #44

[2019-11-18 14:38] #139 closed

[2019-11-19 10:59] alameenlr commented on #208
PHP Fatal error:  Uncaught Error: Class 'TusPhp\Tus\Server' not found in /tusd/server.php:27
Stack trace:
#0 {main}  thrown in /tusd/server.php on line 27

**This is the Error Log**

**server.php**
`
require 'aws/autoload.php';
require 'tus/autoload.php';

use Aws\S3\S3Client;
use TusPhp\Tus\Server;
use Aws\Credentials\Credentials;

$awsAccessKey = 'AWS ACCESS KEY';
$awsSecretKey = 'AWS SECRET KEY

[2019-11-19 11:19] alameenlr commented on #208
![Capture](https://user-images.githubusercontent.com/50786913/69142081-1212c100-0aec-11ea-9321-c440a85532cd.JPG)

please Help Me, I can't found any error.
No error log found.

[2019-11-19 17:06] samundra commented on #208
Hi @alameenlr,

From the above error post, it's very hard to debug what could have gone wrong.

However, Above error could happen for following reasons:

1. File is not uploaded properly from client to tus-server
2. Server is rejecting uploaded file

We have to pin-point problem,  whether it's 1 or 2. Then, we can shift our focus to resolve it.

In order to that, We'll need following information f

[2019-11-20 07:20] navdbaloch commented on #208
Hi All,

I was also stuck with the same error.

After debugging, I found out that "FileException" was being thrown with the following message

"Unable to open {file path}"

Although the create request was a success, but the file was not created at the specified location.

Now looking into why the file was not created in the first request.

[2019-11-20 07:22] alameenlr commented on #208
**tus Client**
---------------------------------------
- _tus-js-client 1.8.0_
- _uploading function_
[code]
**tus Server**
---------------------------------------------------------------------
- _server.php_
[code]

- _http://localhost/store/files_
![Tus](https://user-images.githubusercontent.com/50786913/69216212-a4b96b80-0b91-11ea-8c07-7ae8cd7bb553.JPG)

- _Browser Console_
![tus2](https://user

[2019-11-20 08:03] ankitpokhrel commented on #208
@alameenlr Looks like you have not defined the route `/store/files` in your server. You need to define the route and upload the file from the route handler of that endpoint.

[2019-11-20 09:07] samundra commented on #208
Hi @alameenlr

First of all, thank you for your response.

It seems like you have not defined route handler. The example that we provide in repository has this defined these routes internally.

We have to define routes that will handle request to different paths. With Tus-php we'll have to define following routes.

[code]

Please verify that these routes are configured properly. Meaning that they

[2019-11-20 10:19] alameenlr commented on #208
What you mean by Routing.?
[code]
All these now pointing to server.php

Cloud you an example for routing?,How did you identify route ```/store/files``` not defined?

[2019-11-21 02:41] samundra commented on #208
@alameenlr

you have defined endpoint in client side.

[code]

That endpoint `/store/file` should be accessible and return proper response.

[2019-11-21 05:20] alameenlr commented on #208
That endpoint ```/store/file``` ?

```endpoint: '/store/files', // <--- This is the endpoint for Tus-server``` is it not right?
Could you please Send the Correct code for both server and client?

[2019-11-21 07:13] samundra commented on #208
Hi @alameenlr

Please refer to code example here for reference [Basic Example](https://github.com/ankitpokhrel/tus-php/tree/master/example/basic)

The setup of Tus-server and Tus-client requires a bit of knowledge on server setup as well. So, I would suggest you to get help from Sysadmin/Server person. These setup configurations is very very dynamic and depends on your server configuration so for

[2019-11-21 07:43] alameenlr commented on #208
Enough!!!!

[2019-11-22 05:03] alameenlr commented on #208
Yah!. It is working on my local server.
Storing files on my local disk.
When I tried to put on AWS S3

![tus2](https://user-images.githubusercontent.com/50786913/69399170-2b498680-0d13-11ea-90b5-60f700ebdf38.JPG)

[code]

[2019-11-22 14:06] alameenlr commented on #208
Yah!. It is working on my local server.
Storing files on my local disk.
When I tried to put on AWS S3!

![tus2](https://user-images.githubusercontent.com/50786913/69432279-6b365b00-0d5f-11ea-8012-2dfbf0f5b937.JPG)

[code]

[2019-11-24 04:50] alameenlr commented on #208
https://github.com/ankitpokhrel/tus-php/commit/34bf866bdb067138d727b4141a3fa7e84c53580d

Success!!!!

[2019-11-24 04:52] alameenlr commented on #208
[code]
Success

[2019-11-25 14:47] bluepuma77 opened #211 "Ensure that redis is only listening on docker network, not publicly"
**Describe the bug**
When starting tus-php with bin/docker.sh, it starts the redis container attached to the external network interface, not just the internal docker network.

**To Reproduce**
[code]

**Expected behavior**
Redis should only be available on docker network, not external.

**Additional context**
Received warning email from "Federal Office for Information Security (BSI)" about this, y

[2019-11-25 15:20] samundra commented on #211
Hi @bluepuma77

The current setup of docker is supposed to be used for development only. It's not meant to be used in production (sorry if this has not been mentioned before).

However, It's a good practice to link containers internally and not exposed to publicly. Thank you for bringing this to our attention. We'll update it soon. If you could send a PR that would be most welcome, as it can take

[2019-11-26 21:16] ankitpokhrel commented on #208
Glad to know that you figured it out. Apologies that we didn't realize that commit was not yet released. It is included in the new release [v1.1.0](https://github.com/ankitpokhrel/tus-php/releases/tag/v1.1.0).

[2019-11-26 21:16] #208 closed

[2019-11-29 09:58] darthf1 opened #214 "Symfony 5 support"
Hi,

If i'm correct I didn't see any ticket or PR already on this topic. Is it possible to provide Symfony 5 support? Is it just an update of `composer.json` or does it need more work?

[2019-11-29 19:58] ankitpokhrel commented on #214
@darthf1 Hopefully it will work just by updating `composer.json`. Feel free to test and create a PR :)

[2019-11-30 09:34] ankitpokhrel commented on #214
@darthf1 please use symfony-5 branch for Symfony 5 support.

[code]

[2019-12-01 09:02] alameenlr opened #216 "How the Concatenation works while connect aws S3?"
How the Concatenation works?

Is it like this.?
[code]

[2019-12-01 17:23] ankitpokhrel commented on #216
`tus-php` doesn't directly support concatenation for S3. You can either, upload files in your server first (in chunks), concatenate and then send the full file to S3. Or, download previous content, append and upload new content like you mentioned.

[2019-12-02 14:23] darthf1 commented on #214
Seems to be it! Did an install, uploaded some files and saw nothing (wrong) in the console and/or logs.

Thanks for creating the branch.

[2019-12-02 17:59] #214 closed

[2019-12-03 12:23] adri21112 opened #218 "How can bind tus-php events inside Laravel Framework"
Hi.

I am working to rename the files upload with the tus-php server. Following the [issue-167](https://github.com/ankitpokhrel/tus-php/issues/167), I am trying to subscribe to the tus-server.upload.created inside a laravel listener and rename tie file but I don't know if it is possible.

Somebody can offer some tips?

Thanks!

[2019-12-04 01:30] #216 closed

[2019-12-06 09:41] myscienceisbetter opened #219 "Empty result on file access/download"
I'm using the tus-js-client to upload some files on the server and everything works fine, the file get uploaded.

However, when I'm trying to access/download a file that was just uploaded on the server (i've checked and the file is there), however an empty page shows up in browser. I'm using the url returned by .url property in the response: https://<my-domain-bame>/server.php/files/1e02ef98-09fc-

[2019-12-06 10:26] ankitpokhrel commented on #219
@myscienceisbetter you need to use `GET /files/<key>/get` to download the file. This was done since we need to treat HEAD and GET as an identical request as per [RFC7231](https://tools.ietf.org/html/rfc7231#section-4.3.2). File download in `GET /files/<key>` request is not a part of the tus specification.

[2019-12-06 10:26] #219 closed

[2019-12-06 10:44] myscienceisbetter commented on #219
Thanks, this seems to be doing the trick!

[2019-12-08 09:02] ankitpokhrel commented on #218
@adri21112 if you are using `tus-php` client, then you can pass the required name in [->file](https://github.com/ankitpokhrel/tus-php/blob/master/src/Tus/Client.php#L83) method.

If you want to rename it in server-side, better would be to listen to `tus-server.upload.complete` event which gets fired after the upload is fully done. You will get the file object which contains file path of that uploa

[2019-12-10 13:38] pgrzesiecki opened #223 "Cannot download file from S3 because finfo / mime_content_type is not supported by remote streams"
Hi.
I've noticed problem with files uploaded do S3. Upload works perfect even with chunks but there is no possbility to download uploaded file by tus-php library. Problem appears because **finfo** / **mime_content_type** don't appear to support remote streams and works only with local files.

The error that appears: **Warning: finfo::file(): Failed identify data 0:invalid mode 00**
from:
 - in ven

[2019-12-17 11:59] vietnguyen09 opened #224 "Install for laravel 5.4"
Hi,

I'm trying to install tus-php today for my project run Laravel 5.4. Unfortunately, it requires some high dependencies version which is locked by Laravel. Here is what I get when trying to install.

    # composer require ankitpokhrel/tus-php
        Using version ^1.1 for ankitpokhrel/tus-php
        ./composer.json has been updated
        Loading composer repositories with package informati

[2019-12-17 12:03] #224 closed

[2019-12-21 10:59] ankitpokhrel commented on #223
Hi @pgrzesiecki, the way tus-php interacts with S3 is completely based on PHP stream wrapper and there is no direct integration with any cloud providers. This makes it a bit hard to fully support all the features provided by these cloud providers.

I would be glad to review the PR if anyone can work on it. However, this might not work for other cloud providers and should be implemented separately

[2019-12-23 12:13] mantis opened #226 "Symfony integration - documentation"
Hello,

The wiki page for symfony integration shows in the example:

use Symfony\Bundle\FrameworkBundle\Controller\Controller;

this has been deprecated in favour of AbstractController ( https://github.com/symfony/symfony/pull/28243 ) back in August 2018.

It would be nice to update the example to use Abstract Controller instead:

use Symfony\Bundle\FrameworkBundle\Controller\AbstractController;
c

[2019-12-24 12:06] kaiwenli opened #227 "use S3 upload 10GB+ file very slow"
**Describe the bug**
A clear and concise description of what the bug is.

use S3 storage upload 10GB+ file very slow.

**To Reproduce**
Steps to reproduce the behavior:
1. set s3 config
2. set uppy' config chunkSize: 5242880, resume: true,
3. upload file getting slow.  first request 5s, second  request 10s, third request 15s.

**Expected behavior**
A clear and concise description of what you expec

[2019-12-24 12:44] giloo973 opened #228 "tus-server.upload.complete event (Symfony)"
Hello,

**Fire event Symfony**
I can't fire events using symfony especially : tus-server.upload.complete, the one that i need.

**To Reproduce**
1. **Uppy:**
[code]

2. **Server side:**
**Controller**
[code]
**Service**
[code]

The event is not called after the upload....

What's going wrong ?

[2019-12-24 21:22] ankitpokhrel commented on #228
@giloo973 You are calling a method called `getServer` in the controller but in service, I see the listener is attached in `getServerClip` method. Is it a mistake while pasting the code here or are you attaching listener to one server object and using another?

[2019-12-24 21:29] ankitpokhrel commented on #227
Hi @kaiwenli, I don't see any usage of `tus-php` package in the code sample you provided above. You seem to be using [aws-sdk-php](https://github.com/aws/aws-sdk-php) directly for multi-part upload so you should consider [creating an issue in their repo](https://github.com/aws/aws-sdk-php/issues/new/choose) to get help.

[2019-12-24 21:33] giloo973 commented on #228
Sorry my mistake ! But in my controller it’s getServerClip which is called.
The upload of the file is good, I get the uploaded file in the right folder. But the event is never called

[2019-12-24 22:04] ankitpokhrel commented on #228
@giloo973 The code to attach event looks fine to me. I assume that the event is being fired but is being killed because of some error. Did you check the error logs? It is hard to say anything without additional info.

[2019-12-25 01:36] kaiwenli commented on #227
yeah, i wrote a new PHP code  include aws-sdk-php.

Large file used tus-php's S3  is slow.  tus-php upload file use local storage is normal.

I think aws-sdk-php's multi-part upload  is good for tus-php.

But I didn't think of a better way to help tus-php's S3 get better upload results when uploading large files.

[2019-12-25 01:47] kaiwenli commented on #227
`<?php

use TusPhp\Config;
use TusPhp\Tus\Server;
use TusPhp\File;
use Aws\S3\S3Client;
use Aws\Credentials\Credentials;
use app\index\listener\Tus as Listener;

class Tus
{
    protected $storageConfig = [];
    public function __construct()
    {
        Config::set(env('CONFIG_PATH').'upload.php');
    }
    public function server()
    {
        $this->storageConfig = config('upload.storage');

[2019-12-25 01:53] kaiwenli commented on #227
I found https://github.com/rafaeltovar/php-tus-aws-s3 on github.

I think this project is good for tus-php. Is it possible to integrate into tus-php.

[2019-12-25 10:24] giloo973 commented on #228
I know.. the log file is empty... I will investigate again I’ll let you know

[2019-12-26 23:18] #228 closed

[2020-01-01 22:51] #183 closed

[2020-01-02 19:12] ankitpokhrel commented on #227
`tus-php` support for S3 is via [PHP stream wrapper](https://www.php.net/manual/en/class.streamwrapper.php) interface so a bit discrepancy is expected compared to direct integration using aws SDK. Sadly, there is no plan and resource at the moment to write a wrapper for aws multipart upload but the alternatives like the one you mentioned above can be used.

[2020-01-03 01:46] kaiwenli commented on #227
I will try it.
ok，Thank you very much.

[2020-01-06 22:25] myscienceisbetter opened #229 "How can I do post upload server side processing?"
I'm using tus-php to run the server and I'm interested in doing some server side post processing.

My users are uploading images and I'd like to do some work on them.

Is this possible?

[2020-01-07 08:21] ankitpokhrel commented on #229
Hi @myscienceisbetter, `tus-php` emit events at different stages of upload. If you want to do post-processing, you can listen to `tus-server.upload.complete` event which is emitted after the upload is complete.

More info can be found here: https://github.com/ankitpokhrel/tus-php#events

[2020-01-08 11:55] #186 closed

[2020-01-12 12:18] Kreateyou opened #230 "The Server Headers are duplicated"
**Describe the bug**
I have successfully run the server and uploads however i have noted that all haeders are duplicated and also error thrown appear twice when implemented in the onComplete Event, this is preventing uppy from uploading as the location detail is concatenated as url1,url2

**To Reproduce**
Follow all steps

[2020-01-15 08:04] ankitpokhrel commented on #230
@Kreateyou are you working on `Windows`? If yes, then this might be related: https://github.com/ankitpokhrel/tus-php/issues/186

If no, then, can you provide us some info on what environment you are using (OS, framework, cache type, etc) and how you are setting up tus server and middlewares.

[2020-01-16 17:58] ozanhazer opened #232 "Cannot debug 410 Server Gone errors"
When I upload multiple files using uppy, sometimes it fails to upload some of the files with http error code 410. If I retry the failed files they upload successfully.

I'm still investigating the issue, might be caused by uppy but the problem with tus-php is, it's impossible to understand what's going on without looking at the source code since the actual reason of the error is not logged or retu

[2020-01-18 19:17] marveloo commented on #44
I assume this is because there is no `fflush()` call after each `fwrite()` call.

[2020-01-25 10:49] ankitpokhrel commented on #232
Hi @ozanhazer,

Apologies for the late response. `410 (HTTP_GONE)` status is returned when the server cannot find a file for a valid request. This happens if the file status is not properly saved in the cache or if the file doesn't exist during the delete request. The issue is most likely with the cache. You can check the cache to see if there is an entry for that upload id which you are trying to

[2020-01-27 14:30] honzahana opened #233 "Same filenames, safe filenames"
Is there any way to store uploaded files with same names? For example store files with incremented filename like: `samename.jpg` and `samename-1.jpg`

It would also be great to have a function that creates safe names. Many European languages contain special characters.

Example: `Příliš žluťoučký kůň úpěl ďábelské ódy.jpg` rename to `prilis-zlutoucky-kun-upel-dabelske-ody.jpg`

[Laravel has simila

[2020-01-30 08:40] ankitpokhrel commented on #233
@honzahana `filename` comes from the `Upload-Metadata` sent by the clients.

If you are using `tus-php` client you can use [file](https://github.com/ankitpokhrel/tus-php/blob/master/src/Tus/Client.php#L83) method to set filename during the request like it is done [here](https://github.com/ankitpokhrel/tus-php/blob/master/example/basic/upload.php#L21).

If you are using, for example [uppy](https://

[2020-02-03 04:39] darthf1 opened #234 "SF5 support on 1.2.0"
I noticed in the changelog that `1.2.0` supports `SF5.0`. I get the following during install:
[code]

In [composer.json](https://github.com/ankitpokhrel/tus-php/blob/v1.2.0/composer.json) only SF 3.4 and SF 4 are listed.
[code]

[2020-02-03 08:04] ankitpokhrel commented on #234
@darthf1 you need to use `symfony-5` as mentioned in the [doc](https://github.com/ankitpokhrel/tus-php#installation).

[code]

[2020-02-03 08:15] darthf1 commented on #234
Ok. I just got confused by the change log then. I'm back on the separate branch.

[2020-02-03 10:25] #234 closed

[2020-02-04 15:34] cbastienbaron opened #236 "Add symfony autowiring config in wiki"
**Is your feature request related to a problem? Please describe.**
For Symfony autowiring Wiki

**Describe the solution you'd like**
in services.yaml or other config file :

add
[code]

And boom TusPhp\Tus\Server can be injected configured via autowiring

**Describe alternatives you've considered**

**Additional context**

to save time for testing

[2020-02-04 19:56] ankitpokhrel commented on #236
Thanks :) I will check and update the wiki.

[2020-02-18 04:02] peiweijianphp opened #240 "Click the pause button and then upload offset = 0"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. ...
2. ...
3. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other context about the problem here.

[2020-02-18 15:11] tonydspaniard opened #241 "Unable to make it work with uppy js client"
Developed a TUS server (runs on port 8081):

[code]

The TusCors is

[code]

The client I am using (runs on port 8080)

[code]

And this is the responses i am receiving

![image](https://user-images.githubusercontent.com/566016/74748736-4c196d80-5269-11ea-99bc-dc03f38d239f.png)

What am I doing wrong?

[2020-02-19 07:27] #241 closed

[2020-02-21 08:37] peiweijianphp commented on #240
$file = $this->buildFile([
            'name' => $fileName,
            'offset' => 0,
            'size' => $this->getRequest()->header('Upload-Length'),
            'file_path' => $filePath,
            'location' => $location,
        ])->setKey($uploadKey)->setChecksum($checksum);

[2020-02-21 08:38] peiweijianphp commented on #240
server class handlePost function

[2020-02-21 22:49] duerrsimon opened #242 "Uppy and metadata"
I wanted to use uppy metadata to do some server side processing (setting the page id in my CMS).
[code]

I also tried using another meta like pageid:1488 instead of the offset and I tried both getFile() and getRequest() but I cannot get the metadata information. What do I need to do?

Server-side code:
[code]

The configuration works as the files are uploaded to the specified tempory directory. Th

[2020-02-22 01:20] Amerlander commented on #242
Is your event listener fired at all? It has to be before `$server->serve()`.

This:
[code]
returns that:
![image](https://user-images.githubusercontent.com/3764089/75083553-b3f5df80-5519-11ea-8d59-5e35aa9ba68c.png)

[2020-02-22 01:22] Amerlander commented on #242
Oh, I just saw youre trying to get the uppy meta directly, but it is scoped in `metadata`.
So maybe changing `$pageid=$fileMeta['offset']` to `$pageid=$fileMeta['metadata']['offset']` already helps?

[2020-02-22 01:50] Amerlander commented on #242
sorry, it was too late for me. The user metadata is not there.

My above screenshot should also contain some user meta since in Uppy I have  this:
[code]
It seemed to work someday, I wonder if https://github.com/ankitpokhrel/tus-php/pull/166 is broken now or if its caused by changes in Uppy.

So were both having the same issue now :)

[2020-02-22 02:38] Amerlander commented on #242
seems to be an issue in Uppy, when I downgrade Uppy to 1.8.0 everything works.
Uppy 1.9.1 and 1.9.2 are both broken.

[2020-02-22 09:10] ankitpokhrel commented on #226
This is updated, thanks!

[2020-02-22 09:10] #226 closed

[2020-02-22 15:30] #236 closed

[2020-02-22 19:22] duerrsimon commented on #242
I got it working now to. I tested with uppy 1.8.0 and uppy 1.9.2 and there are no issues. Seems like there is no bug in uppy. I am closing this now. Thanks for helping out! I set the meta directly when initalizing uppy.
For reference, I used the following code:

[code]

[code]

[2020-02-22 19:22] #242 closed

[2020-02-24 03:14] peiweijianphp opened #243 "Upload to 37% click pause, but still upload from 0%"
![bug1](https://user-images.githubusercontent.com/20853718/75126786-7dc18700-56f6-11ea-991d-9a0f9b5f8cd6.png)
![bug2](https://user-images.githubusercontent.com/20853718/75126832-b6f9f700-56f6-11ea-9ca5-30d77fe72d35.png)

[2020-02-24 03:18] peiweijianphp commented on #240
1

[2020-02-24 03:40] peiweijianphp commented on #243
The client uses uppy.js ,  Only when it is 100%, the backend will respond to the request of the patch, and the file will be uploaded

[2020-02-29 21:06] #211 closed

[2020-03-03 21:48] ankitpokhrel commented on #240
Hi @peiweijianphp

If you are getting upload offset as 0, it is highly likely that the cache is not configured properly. Make sure that the entries are being saved properly in your cache.

[2020-03-03 21:50] ankitpokhrel commented on #243
Closing as a duplicate of #44

[2020-03-03 21:50] #243 closed

[2020-03-03 22:29] stephan-v opened #245 "No longer compatible with frameworks that use newer Symfony packages."
Hello,

This package is unfortunately no longer compatible with packages that use newer Symfony packages like `symfony/console` which is already  up to `v5.0.5`.

Could the requirements of the `package.json` be updated? I don't think it will lead to breaking changes.

For example I can no longer use this when using something like Laravel 7.0

[2020-03-04 02:34] peiweijianphp commented on #44
My operating environment is docker + php7.2 + redis5  and  The client uses uppy.js
My problem is:   When the upload progress bar is less than 100%, the offerkey of tus PHP response is' ', so every time you click pause, it will start from 0. When the upload progress is 100%, the offerkey in redis will change, the file will be merged, and the progress bar of uppy.js is 100%. When the uploaded file i

[2020-03-04 02:35] peiweijianphp commented on #44
![bug](https://user-images.githubusercontent.com/20853718/75839443-ccaca200-5e03-11ea-9943-a8f3be4073d3.png)

[2020-03-04 08:15] ankitpokhrel commented on #245
Hi @stephan-v

Please use `symfony-5` branch for Symfony 5 packages support

[code]

[2020-03-04 08:15] #245 closed

[2020-03-04 08:37] stephan-v commented on #245
Thanks a lot.

[2020-03-05 02:29] peiweijianphp commented on #240
My operating environment is docker + php7.2 + redis5 and The client uses uppy.js
My problem is: When the upload progress bar is less than 100%, the offerkey of tus PHP response is' ', so every time you click pause, it will start from 0. When the upload progress is 100%, the offerkey in redis will change, the file will be merged, and the progress bar of uppy.js is 100%. When the uploaded file is la

[2020-03-05 16:53] kaarta-dstrickler opened #246 "Are there speed limitations in the server setup?"
**Is your feature request related to a problem? Please describe.**
I'm not sure where to ask this, so I put it here.

We're using Uppy's Dashboard on the client and your code on the server side. We’re seeing about 38Mb/s when uploading to an AWS server, but  we can use Linux’s “scp” command to push about 115Mb/s to it. We’ve also tested SFTP (I know this is just like scp) with the same results. My

[2020-03-07 09:01] ankitpokhrel commented on #246
Hi @kaarta-dstrickler

There is no speed limitation as such. But be aware that `tus-php` support for S3 (an other cloud services) is via [PHP stream wrapper](https://www.php.net/manual/en/class.streamwrapper.php) interface so a bit discrepancy is expected compared to the direct integration using AWS SDK.

Sadly, there is no plan and resource at the moment to write a wrapper for [S3 multipart uploa

[2020-03-07 10:07] #218 closed

[2020-03-08 08:10] lalithhakari commented on #245
Thank you... i was facing the issue..you helped me...

[2020-03-10 20:30] skyronic opened #247 "Unable to install w/ Laravel 7"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new laravel application
2. `composer require ankitpokhrel/tus-php`
3. Error message appears.

<details><summary>Output</summary>
<p>

[code]

</p>
</details>

**Expected behavior**
Package should be installed.

[2020-03-10 20:31] skyronic commented on #247
My bad. I didn't see https://github.com/ankitpokhrel/tus-php/issues/245#issuecomment-594383618

[2020-03-10 20:31] #247 closed

[2020-03-10 20:32] skyronic commented on #245
@ankitpokhrel any ETA on a "stable" release with symfony-5 support?

[2020-03-11 07:09] hatimdisawala opened #248 "How to use this library with CodeIgniter 3"
Hi,

Add documentation for using this library with CodeIgniter 3.

[2020-03-11 08:53] ankitpokhrel commented on #248
Hi @hatimdisawala

I am not quite familiar with CodeIgniter so cannot advise you much on that. Take a look at this comment, it might help you to get started: https://github.com/ankitpokhrel/tus-php/issues/54#issuecomment-397226904.

[2020-03-11 08:53] #248 closed

[2020-03-11 08:56] hatimdisawala commented on #54
can you give more details of how you put library in application and share sample code with usage in controller.

[2020-03-11 08:59] ankitpokhrel commented on #245
@skyronic did you faced any problem when using `symfony-5` branch? The build is quite stable and is usually up to date.

[2020-03-11 23:36] paul-a-byford opened #250 "symphony/console v5 support"
**Is your feature request related to a problem? Please describe.**
Can tus-php support symfony/console v5?

I've recently attempted to upgrade to recent major release of laravel (laravel v7). laravel v7 has upgraded to symfony 5, but unfortuantely this cause a clash with tus-php supporting upto v4.4 of symfony/console

**Describe the solution you'd like**
Tus-php to support symfony/console v5

**D

[2020-03-12 09:08] ankitpokhrel commented on #250
@paul-a-byford please use symfony-5 branch for Symfony 5 support.

[code]

[2020-03-12 09:08] #250 closed

[2020-03-20 20:25] Amerlander commented on #232
I also try to deal with 410 (gone) errors. I hava an setup which worked fine on localhost using xampp. Then I moved it on a server into a docker container. At first everything worked fine, but after a few days now I can't upload any file at all and even retrying doesn't help. I use Uppy and it only shows that I have an 410 error.

I use just file based caching. What would be steps to check the cac

[2020-03-21 05:15] Gompali opened #251 "Uppy -> tus-php (SF5)"
Hi, i tried to set up your symfony 5 example with auto-wiring and as your example
The server does not send any response header. I can have forgot something.

Here is my Vhost:

[code]

The routes.yaml :

[code]
services.yaml  :

[code]

Controller :

[code]

The calling UI :

[code]

I first have issues with CORS. Tried nelmio-cors-bundle, not working.
The headers are not sent and not a single res

[2020-03-21 20:41] Amerlander commented on #232
Never mind, I found the cache file in `/vendor/ankitpokhrel/tus-php/.cache` and it was not readable since I copied the `/vendor` folder

[2020-03-22 20:44] idanavishai opened #252 "laravel integration with duplication of headers"
i am using uppy as client side, and laravel backend, with this plugin.
I did exacly as the laravel example suggested.

**this is the route:**

[code]

**the service:**
[code]

 **and those are the request and response:**
[code]

### **response from the server:**
[code]

[2020-03-22 21:07] idanavishai commented on #252
the return in the route causing the another send, removing the return fix this

[2020-03-22 21:07] #252 closed

[2020-03-23 04:22] samundra commented on #232
@Amerlander Glad you found the solution. Can we close this issue if you feel you have found your solution?

[2020-03-23 09:29] Amerlander commented on #232
Yes, for me it can be closed

[2020-03-24 08:56] ankitpokhrel commented on #251
@Gompali I see that the route defined is `/tus` but you have api path set to `/files`
[code]

Can you please change `/files` to `/tus` and try again?

[2020-03-26 11:41] #232 closed

[2020-03-26 18:00] bledson opened #253 "Update dependencies to use Symfony 5 components"
I tried to update my laravel 5.6 project to laravel 7.0, but my vimeo/laravel dependency, but it turns out that since this package depends on symfony 3-4, makes vimeo/laravel package incompatible with the newer laravel version.

[2020-03-26 19:50] ankitpokhrel commented on #253
@bledson  you can do this:

1. Install `ankitpokhrel/tus-php:dev-symfony-5` branch and alias it as `1.0`.
[code]

2. Install `vimeo/laravel` as usual.
[code]

[2020-03-26 19:50] #253 closed

[2020-03-27 03:01] ouissla opened #256 "How can I plugin the library with my remote CakePHP Redis"
Hi,

I am setup the library on CakePHP following the integration example. My application is using Redis on AWS Elasticache as the default caching mechanism.

How do I tell the library to use the existing Redis server? When I initialize the server:
`$server = new TusServer('redis');`

I get a connection refused to: `tcp://127.0.0.1:6379` instead of something like xxx.xxx.xx.xxxx.cache.amazonaws.co:

[2020-03-27 20:45] larowlan commented on #253
Are there plans for a 2.x release from the symfony 5 branch? Thanks

[2020-03-28 09:40] ankitpokhrel commented on #256
@ouissla Default redis and file configuration for server and client can be found inside `<vendor>/ankitpokhrel/tus-php/config/server.php` and `<vendor>/ankitpokhrel/tus-php/config/client.php` respectively. To override default config you can simply copy these files to your preferred location and update the parameters. You then need to set the config before doing anything else.

[code]

Alternately,

[2020-03-29 19:17] amodliszewski commented on #253
Bump, would love to know more about release  of sf5 support branch

[2020-03-31 22:24] jtenhave opened #257 "Simultaneous file uploads can cause files to be corrupted when using the file cache"
**The Issue:**
When uploading 2 or more files simultaneously, and using the 'file' cache, the uploaded files can become corrupted.

**My Setup:**
- Apache
- tus-php 1.2.0
- Uppy Tus Client
- Chunk Size 10 MB

**Steps To Reproduce:**
This issue can be fairly hard to reproduce since (I suspect) it is caused by a race condition. I first noticed it when uploading three large files (~750MB) simultaneou

[2020-04-01 16:37] ankitpokhrel commented on #253
@larowlan @amodliszewski I will try to release v2.0 soon, possibly within few weeks.

[2020-04-01 21:11] larowlan commented on #253
thanks @ankitpokhrel fwiw I have a test-suite for a project that uses this so let me know if you need more testing

[2020-04-02 02:38] #227 closed

[2020-04-02 09:45] #223 closed

[2020-04-04 20:58] jnbn opened #258 "v1.2.1 Release"
ramsey/uuid update on composer.json is crucial for updating some dependancies on Laravel framework. Can you please tag 1.2.1 with updated composer?

[2020-04-04 21:09] ankitpokhrel commented on #258
Please use `symfony-5` branch form Laravel 7 support until new version is released. See https://github.com/ankitpokhrel/tus-php/issues/253#issuecomment-604649273

[2020-04-04 21:09] #258 closed

[2020-04-06 06:05] ouissla commented on #256
Hey mate, I haven't had time to test this out but just taking the time to thank you for your answer.

[2020-04-06 11:11] #229 closed

[2020-04-09 12:29] benjamindoe commented on #233
How do you deal with this if you need to increment on the server to ensure filename uniqueness? As far as I can tell, you can easily change the filename using `$server->event()->addListener('tus-server.upload.complete', function ... ` but you can't get the information back to the client.

For example, I am creating a filename by doing something similar to `bin2hex(random_bytes(16)).'_'.$fileMeta['

[2020-04-11 08:18] ankitpokhrel commented on #257
Hi @jtenhave

I assume you are uploading different files and not the same file in parallel. In case you are trying to upload the same file in parallel then there are some limitations and it needs to be handled in a different way, see #100.

I tried it quickly but was not able to reproduce the issue. However the issue seems valid and we will investigate it when we have some time. Thank you for repo

[2020-04-11 08:32] ankitpokhrel commented on #233
@benjamindoe Yes, you can use events to change the file name in server. But you cannot get the filename back to your client. However you will get the upload location in the header which you can use in your client.

I am not sure about your usecase but if you need the filename in client then you have to make a separate request in your server to fetch it (you may have to implement some custom endpoi

[2020-04-12 16:16] gdarko opened #259 "16MB video within the library source code"
We are including the library in WordPress plugin but it is very big. There is video within the library that is literaly 16 MB which is too much for projects limited on size. Can this be moved out of the project somehow?

Thanks.

[2020-04-12 16:33] ankitpokhrel commented on #259
@gdarko Please fetch the project using [composer](https://getcomposer.org/) as described in [this doc](https://github.com/ankitpokhrel/tus-php/wiki/WordPress-Integration). All unnecessary files will automatically be excluded.

[2020-04-12 16:33] #259 closed

[2020-04-12 20:14] gdarko commented on #259
Thank you @ankitpokhrel , i just noticed it is removed

[2020-04-13 20:43] markkimsal commented on #240
@peiweijianphp
In Uppy, set the "chunkSize: 5000000" for the `Uppy.Tus` plugin.

[code]
This took me quite a while to track down.  I find it strange that a project that bills itself as "resumable uploads" doesn't have the examples setup to resume uploads.

To be fair, the "basic" example was able to resume uploads, but only after I uploaded the entire file to the server.  Then the client would res

[2020-04-13 21:01] emresaracoglu opened #260 "403 Forbidden"
It fails due to 403 during uploading. I can't find the reason for this.

What is your idea?

Thanks

Console

**.htaccess**

[code]

**server.php**
[code]

**upload.php**

[code]

[2020-04-14 17:50] markkimsal commented on #240
@peiweijianphp
upon further digging, nginx requires `fastcgi_request_buffering off;`

[code]

@ankitpokhrel
This `fastcgi_request_buffering off'` should be in the docs section around nginx.  Otherwise, nginx will buffer the entire POST / PATCH body to memory or disk before initiating the fastcgi request to PHP.  That's why forcing the JS client to send in chunks worked, because it was sending doze

[2020-04-14 19:19] markkimsal commented on #246
I've had good luck with `$bytes = stream_copy_to_stream($input, $output, self::CHUNK_SIZE);` and increasing the CHUNK_SIZE;

`fread()` is limited to 8192 bytes, meaning that PHP will have to talk to redis (or write json blobs to the FS) many times to upload a large file.  `stream_copy_to_stream` does not have that limitation and will report back how many bytes were written.  This only helps when a

[2020-04-14 20:26] ankitpokhrel commented on #240
@markkimsal Thank you so much for debugging this 👏 👏 👏

[2020-04-14 21:21] ankitpokhrel commented on #260
@emresaracoglu This can be becuase of various reason. Please check your apace configuration and make sure that the user that run apache has a proper permission to read and write folder contents. Also check the error.log, usually located at `/var/log/apache2/error.log`, which will help you to identify why you get the 403 error.

[2020-04-14 21:21] #260 closed

[2020-04-14 21:21] #240 closed

[2020-04-18 08:28] ankitpokhrel commented on #44
Apparently, this happens because of [fastcgi_request_buffering](http://nginx.org/en/docs/http/ngx_http_fastcgi_module.html#fastcgi_request_buffering) option in Nginx.

When the buffering is enabled, the entire request body is read from the client before sending the request to a FastCGI server. If you are using Nginx, consider disabling `fastcgi_request_buffering` for resumable uploads. More info [

[2020-04-18 08:28] #44 closed

[2020-04-26 16:53] ankitpokhrel commented on #253
You can now try out v2.0 before it gets released.

[code]

See #264

[2020-04-26 16:53] ankitpokhrel commented on #258
You can now try out v2.0 before it gets released.

[code]

See #264

[2020-04-26 16:54] ankitpokhrel commented on #250
You can now try out v2.0 before it gets released.

[code]

See #264

[2020-04-26 16:54] ankitpokhrel commented on #247
You can now try out v2.0 before it gets released.

[code]

See #264

[2020-04-26 16:55] ankitpokhrel commented on #245
You can now try out v2.0 before it gets released.

[code]

See #264

[2020-04-26 16:56] ankitpokhrel commented on #234
You can now try out v2.0 before it gets released.

[code]

See #264

[2020-04-27 07:30] #230 closed

[2020-04-27 13:10] benjamindoe opened #265 "Flysystem support"
**Is your feature request related to a problem? Please describe.**
Support for [Flysystem](https://github.com/thephpleague/flysystem) would be really handy as this filesystem abstraction is used by _many_ projects.

**Describe the solution you'd like**
A Flysystem adapter could be passed into the `Server` object to initialise the connection. The `Server` would then be able to store data directly t

[2020-05-06 14:51] erfansahaf opened #266 "File type or extension"
Since the TUS protocol transfers data through the HTTP requests (POST and PATCH), we can't access file extension/type or such with $_FILE.

I want to know is there any way to control and validate the uploaded file type and reject it if it isn't allowed? I tried to get the file extension by its name in a Middleware but it was empty.

Thanks.

[2020-05-06 15:29] martincarlin87 opened #267 "Customisation of Server Endpoint?"
**Is your feature request related to a problem? Please describe.**

Yes - we have multiple places throughout the application where file uploads can take place and each has their own designated endpoint, but I can't see how to do this.

I can change the client endpoint with uppy, but the server always seems to expect it to be `/files`.

I have my .htaccess like this:

[code]

but at the moment I ca

[2020-05-07 09:45] #267 closed

[2020-05-11 14:57] mbaumgartl commented on #266
This is not really supported by the protocol (see [FAQ](https://tus.io/faq.html#how-can-i-get-the-file-name-or-file-type-for-an-upload)).

As described: adding the file type to the meta data and check it in a middleware, seems to be the only solution at the moment.

[2020-05-12 15:32] erfansahaf commented on #266
@mbaumgartl Thanks. But why the file name is empty when I try to access it in the middleware request?

[2020-05-12 16:19] mbaumgartl commented on #266
@erfansahaf: It's hard to say without seeing any code :wink:

[2020-05-12 18:13] dusanjablanovic2224 opened #269 "Tus server not found"
Hello everyone,
I integrated Tus server in Laravel application but when I dump :
$response = app('tus-server')->serve();
    dd($response);
 the message is :
Response {#493 ▼
  +headers: ResponseHeaderBag {#494 ▶}
  #content: ""
  #version: "1.0"
  #statusCode: 404
  #statusText: "Not Found"
  #charset: null
}

[2020-05-14 17:52] biholaindrasinh commented on #269
I have tried this and it works. [https://github.com/ankitpokhrel/tus-php/issues/245](#245)

[2020-05-14 17:58] biholaindrasinh commented on #269
I have tried this and it works. [https://github.com/ankitpokhrel/tus-php/issues/245](#245)

[2020-05-15 19:44] jnbn commented on #258
Seems it's broken as @ankitpokhrel removed 2.x-dev branch and released 2.0 officially. Anybody having the same problem can follow https://github.com/vimeo/vimeo.php/pull/259 for now or use https://github.com/mstaack/vimeo.php/tree/patch-1 as vimeo-php dependancy.

[2020-05-20 07:27] ankitpokhrel commented on #269
@dusanjablanovic2224 Its hard to say anything based on the details you shared but I assume that you might have missed some steps when setting up the package. You can find setup instructions for Laravel [here](https://github.com/ankitpokhrel/tus-php/wiki/Laravel-&-Lumen-Integration). The instructions are based on Laravel5 so few things might have got changed in the new version, yet, it should give

[2020-05-20 07:46] ankitpokhrel commented on #266
@erfansahaf you need to use middleware as @mbaumgartl suggested. Something like this will work.

[code]

[2020-05-20 22:10] erfansahaf commented on #266
When I try to access the filename in the middleware, it a zero-length string. @mbaumgartl @ankitpokhrel

server.php:
[code]

CheckFileType.php:
[code]

[2020-05-21 07:13] ankitpokhrel commented on #266
@erfansahaf It is because `Upload-Metadata` header is only present during creation i.e `POST` request. In your case, it makes sense to validate file type and reject the upload at this point as creation is the first step of execution.

[code]

[2020-06-01 20:46] darthf1 commented on #265
Would be great if this can be supported. Im deploying my symfony app to Kubernetes and would like to abstract my filesystem as well.

[2020-06-03 19:07] moridianmess opened #271 "Resuming an upload always starts from 0"
**Describe the bug**
Using tus-js-client, resumes always start uploading from 0, but the file size on the server keeps increasing. It appears that it's adding layers? That's my guess anyway as if you open the file after an initial upload of 10% and then another of 3%, the partial image doesn't look any different. My set up is a brand new Laravel 7 installation using IIS on Windows Server 2016 with

[2020-06-11 11:36] amir9480 opened #273 "Mixed Content Error when using SSL provided by CDN"
**Is your feature request related to a problem? Please describe.**
I using a CDN based https/SSL certification.
My server has no SSL and CDN to server communication is without https.
So when uploading a file `location` header is the address of the website But without https then mixed content error happens.

**Describe the solution you'd like**
A method to manually set the root path of the website.

[2020-06-15 10:33] Carlos-Costa commented on #153
Hi... How did you Solve this?

Thanks

[2020-06-15 12:15] mbaumgartl commented on #271
Resuming isn't done automatically. You need to use the same url as before. The JS client stores urls in local storage to enable resumable uploads (see https://github.com/tus/tus-js-client/blob/master/docs/usage.md#example-let-user-select-upload-to-resume).

[2020-06-15 15:00] moridianmess commented on #271
@mbaumgartl Thank you for that. I stupidly assumed that the server dealt with that side of things too.

Just in case this helps someone else in the future this is the TS I ended up with:

[code]

Resumeable uploads did not until I used chunking and added the code to use a previous upload.

[2020-06-15 15:00] #271 closed

[2020-06-16 09:11] martincarlin87 opened #274 "Deprecated Notice from Symfony HttpFoundation\Response"
**Describe the bug**
It looks like the Symfony dependencies have had a version bump and are now throwing a deprecated notice:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run `composer update`
2. Upload file

**Expected behavior**
No deprecation notice.

**Screenshots**

This is the diff in dependencies:

![image](https://user-images.githubusercontent.com/1721925/84755507-9dd4c900

[2020-06-19 15:04] imRezaAlie opened #275 "dynamic upload path laravel php tus"
Dear Ankit Pokhrel
Thanks for your great job in developing UPPY and TUS php.  I am trying to use these packages in  my project but  have problems in defining "dynamic upload path". I mean I want to define an specify path for each upload form (consider each user has its own upload folder)
How can I do that?
I will be so grateful if you would help me in this matter.
regards

[2020-06-21 02:50] aumkarthakur opened #277 "WordPress Integration Tutorial Is Not Working."
Hey guys so I followed all the steps mentioned in WordPress integration section and my final code looks something like this:

[code]

I have activated this plugin and flushed and regenerated the rewrite rules but still when I go to /wp-tus or use uppy it's giving me 404 error.

Please help me know what I am doing wrong.

[2020-06-22 02:29] aumkarthakur commented on #277
I actually fixed it by using REST API instead of adding rewrite which is shown in example.

[2020-06-22 02:29] #277 closed

[2020-06-22 12:03] #251 closed

[2020-06-22 13:50] renepardon opened #279 "tus-server.upload.complete event is called multiple times for a single file"
**Describe the bug**
_tus-server.upload.complete_ event is called multiple times for a single file upload. I upload a huge file in multiple chunks during a unit test:

[code]

**To Reproduce**
Steps to reproduce the behavior:
https://gist.github.com/renepardon/e414fe2b3bbaa6e244662932d388790b

**Expected behavior**
The complete event should only be triggered once for an upload if the upload finish

[2020-06-23 07:33] renepardon commented on #279
**tus-server.upload.merged** event is never called

[2020-06-23 09:07] renepardon opened #280 "Headers are not passed to sub-requests"
According to my integration test below, the HTTP headers including Authorization-header are set in the base guzzle client but they are not passed to for example **sendPathRequest** method:

[code]

This causes the JWT token (Authorization header) not being passed to the corresponding requests. As soon as I use the **client** or **auth:api** middleware in my laravel application I will receive a 401

[2020-06-27 07:28] ankitpokhrel commented on #275
@imRezaAlie You can set upload path for each upload by setting upload path on creation request, which is the first request that is sent when you start the upload. See [this](https://github.com/ankitpokhrel/tus-php/issues/79#issuecomment-425192496).

[2020-06-27 07:47] ankitpokhrel commented on #279
@renepardon `tus-server.upload.merged` event is only emitted when using [concatenation extension](https://tus.io/protocols/resumable-upload.html#concatenation). For that, you need to provide the parts of the file you want to upload and merge them at the end. You can take [this example](https://github.com/ankitpokhrel/tus-php/blob/master/example/partial/partial.php#L24-L32) as a reference.

In the

[2020-06-27 08:02] #280 closed

[2020-06-27 08:05] ankitpokhrel commented on #273
Hi @amir9480 you can use [middleware](https://github.com/ankitpokhrel/tus-php#middleware) to trim and format the URL. You can find some examples of the middleware [here](https://github.com/ankitpokhrel/tus-php/tree/master/src/Middleware).

[2020-06-27 08:17] ankitpokhrel commented on #274
Thank you for reporting :)

[2020-06-27 08:57] #274 closed

[2020-06-27 09:38] callumgare opened #284 "Examples appear broken"
Either the examples are all broken or I'm doing something very stupid. When I try to upload anything using the example client website it fails for what looks like CORS related reasons.

**To Reproduce**
I just ran though these steps <https://github.com/ankitpokhrel/tus-php#docker> which are basically clone repo and execute `bin/docker.sh`. That all worked fine and the example site showed up when g

[2020-06-27 09:53] ankitpokhrel commented on #284
@callumgare I see CORs related error. Can you also share Response headers please? Does it contain `Access-Control-*` headers?

[2020-06-27 12:05] callumgare commented on #284
I feel like I’m going a bit crazy. I had messed around for half an hour before hand trying different browsers, trying a bunch of different things to get it working and no cigar. After reading your message I tried it again to get the headers to send to you and it failed a couple times and then it started working and it has seem to continue working so I guess I can close this ticket now. No idea wha

[2020-06-27 12:05] #284 closed

[2020-06-30 08:05] renepardon commented on #279
Ok, thx!
I'll have a look at this.

[2020-06-30 08:05] #279 closed

[2020-07-05 08:32] #256 closed

[2020-07-07 12:05] renepardon commented on #265
Is there an update on the "discussion"?

[2020-07-10 12:47] #257 closed

[2020-07-10 12:47] #233 closed

[2020-07-12 04:52] imRezaAlie commented on #275
Thanks Dear  @ankitpokhrel  .  I can Solve it...

[2020-07-12 04:54] imRezaAlie commented on #275
`TusConfig::set(config_path('tus-server.php'), true);
            $server = new TusServer('redis');
            $userID = $server->getRequest()->header('userID');

            $baseDir =storage_path("app/assets/DtOrderFiles/".$userID);

            $uploadPath = $baseDir;

            $segment = $server->getRequest()->header('segment');

            // Handler
            if ($segment == 'avatar')

[2020-07-12 04:55] #275 closed

[2020-07-13 06:56] renepardon commented on #273
I have a similar/same error with mixed content. On production everything runs with HTTPS but tus-php doesn't seem to create the location header properly and uses HTTP.

My current hack looks like this:

[code]

I check for production environment to force HTTPS. `$request->isSecure()` instead will not do the trick.

[2020-07-14 18:43] chatlumo commented on #266
Hi,

Thanks about it.

I use that :
`$server->event()->addListener('tus-server.upload.created', function (\TusPhp\Events\TusEvent $event) {
    $metadatas = $event->getFile()->details()['metadata'];

});`

What is the code to reject upload if $metadas value is not what I want ?

[2020-07-16 03:01] huyiwinner commented on #150
Which folders need to be reset permissions under Linux?

[2020-07-24 08:20] mbaumgartl commented on #266
@chatlumo: I don't think an event listener is the right place for the validation.

Just write a middleware (as shown above) and have a look at ``extractAllMeta`` or ``extractMeta`` methods of the request object.

[2020-07-24 08:27] mbaumgartl opened #287 "Redis cluster mode"
**Is your feature request related to a problem? Please describe.**
We're running a Redis cluster in production. With the current implementation it's not possible to pass an appropriate configuration to the ``RedisStore`` class to run it in cluster mode.

**Describe the solution you'd like**
For our use case it would be sufficient if ``RedisStore`` constructor would also accept an instance of ``Pre

[2020-07-27 11:08] nerg4l opened #288 "Ignore Tus-Resumable header on OPTIONS request"
**Describe the bug**

According to the tus protocol `Tus-Resumable` header must be ignored on `OPTIONS` request. However, by looking at the code this header is checked regardless of the request type.

https://tus.io/protocols/resumable-upload.html#options

**To Reproduce**
Steps to reproduce the behavior:
1. Send an `OPTIONS` request without `Tus-Resumable` header.
2. Look at the response which wi

[2020-07-29 13:23] renepardon opened #289 "[laravel] Redis uses predis instead of php-redis and ignores all configured environment variables"
**Describe the bug**

Obviously the environment variables (see below) are ignored when Redis is used for caching:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. install tus-php into your project with redis (pecl install redis) and deploy this to k8s

**Expected behavior**
all works with php-redis extension instead of predis ;)

**Additional context**

server singleton:

[code]

my v

[2020-07-29 14:15] ankitpokhrel commented on #287
Hi @mbaumgartl this is a valid concern and relying totally on one particular redis client is not ideal. I would see if I can work on this anytime soon.

PRs are always welcome ;)

[2020-07-29 14:19] ankitpokhrel commented on #289
@renepardon this seems related to #287 and updating `RedisStore` constructor to accept an instance of redis client would probably solve this issue as well.

[2020-07-30 05:40] renepardon commented on #289
@ankitpokhrel ok, if this helps would be nice. I'll keep the file cache for this time. But the env vars should be used instead of static configuration like 127.0.0.1?

[2020-08-01 15:20] ankitpokhrel commented on #289
Correct, we need to get it from env if it is defined.

https://github.com/ankitpokhrel/tus-php/blob/101d82854496592753061d359c8035f30f8ffd9d/src/Config/server.php#L8-L12

[2020-08-04 08:28] nerg4l opened #292 "Do not recommend to disable CSRF verification for Laravel & Lumen"
**Is your feature request related to a problem? Please describe.**
On the wiki under [Laravel & Lumen Integration](https://github.com/ankitpokhrel/tus-php/wiki/Laravel-&-Lumen-Integration) it is suggested to disable CSRF verification for the registered routes. In my opinion that shouldn't be the recommended way of integration.

**Describe the solution you'd like**
I would recommend instead suggest

[2020-08-04 12:49] samundra commented on #292
I don't think this is job of Tus-Client to verify XSRF token. This should be done outside the scope of Tus-client. Once you have done verification and trusted the sources then we can proceed or drop request.

With Laravel, I believe it can be done with route middleware like similar to how we validate auth endpoints.

[2020-08-04 13:04] nerg4l commented on #292
In this issue I'm only talking about changing the wiki. Nothing more.

[2020-08-04 14:11] samundra commented on #292
All I am saying is, the suggested solution requires change in Tus-Php client. Use of `X-XSRF-TOKEN` is not supported out of the box in Tus-php client library. So, the below suggestion for registering token will not work unless we modify client to do so.

[code]

IMHO Changing wiki alone without change in Tus-php client would be misleading and not recommended. That could be reason why disabling CSR

[2020-08-04 15:24] nerg4l commented on #292
As you said Laravel already have a middleware for that. In the linked wiki article in the last steps it is disabled explicitly. No need for modification in the tus server.

[2020-08-11 07:21] ankitpokhrel commented on #292
Hi @nerg4l and @samundra,

Thank you for checking this out.

I amended the wiki to add a note about this. Headers can be passed to the client during initialization and is propagated to the server on each request. So something like this should already work.

[code]

[2020-08-11 07:23] ankitpokhrel commented on #289
Closing this as a duplicate of #287

[2020-08-11 07:23] #289 closed

[2020-08-11 07:24] ankitpokhrel commented on #273
// Ping @samundra

[2020-08-11 14:56] #292 closed

[2020-08-19 06:29] #269 closed

[2020-08-24 06:31] #288 closed

[2020-08-25 14:51] ThibaultVlacich opened #296 "[Symfony] CORS headers not present"
I'm trying to integrate tus-php into my Symfony project.

My issue is that XHR requests are blocked by my browser because CORS header allow-origin is not present.

Here's my very simple Symfony controller:

[code]

I tried many things. I have the Nelmio Cors Bundle installed into my project to handle cors.
So I tried: skipping the default "Cors" middleware of tus-php and adding this to the nelmio_

[2020-09-09 14:38] mbaumgartl commented on #287
I was looking at changes needed to use custom cache backends in this library.

I would like to make some changes to constructor interfaces to allow dependency inversion.

pro
- easier testing (less/no mocking)
- long term maintainability (use abstractions instead of implementations)

con
- harder to use

@ankitpokhrel: Before I start the refactoring: How open are you to such major/breaking changes

[2020-09-10 09:25] ankitpokhrel commented on #296
Hi @ThibaultVlacich, Apologies for late response!

Since the library constructs its own response object, all headers are not propagated to the final response. You will need to create a [TUS Middleware](https://github.com/ankitpokhrel/tus-php#creating-a-middleware) to extract and pass all headers added by your cors library. For instance:

[code]

[2020-09-13 08:04] ankitpokhrel commented on #287
Hi @mbaumgartl, Thank you for your interest in contributing to this topic :)

To be honest, I would prefer to have a non-breaking change for now. I think there can be 2 approaches:

1. We can either work on a new design in a separate namespace so that two implementation exists side by side for some time. Once the new implementation is ready, we can mark the old one as deprecated and remove it in t

[2020-09-22 09:32] mbaumgartl commented on #287
Hi @ankitpokhrel!

I understand your concerns about introducing breaking changes. In general I want to move the architecture to use dependency inversion (it's impossible w/o breaking changes). In my opinion it's necessary to bring the project to the next level and reduce longterm maintainability.

I didn't look into the code in detail but that's a first blueprint of what I'd like to change:

[code

[2020-09-23 20:57] ThibaultVlacich commented on #296
I managed to get it working. I think there was some cache issues the first time I tried, because just adding the config to the nelmio_cors config is working.

[2020-09-23 20:57] #296 closed

[2020-09-28 08:18] #266 closed

[2020-10-03 16:31] shivapoudel opened #299 "Uppy Dropbox companion"
It's just a question, will we be able to create endpoints for Drive, Dropbox, etc auth for Uppy using this library, or is there any alternatives to make those endpoints in PHP rather than in node environment.

Thanks in advance!

[2020-10-03 19:06] ankitpokhrel commented on #299
Hi @shivapoudel, I am not sure If I understood you correctly, but it seems like you want to upload files to third party providers like Drive/Dropbox using the tus-protocol.

`tus-php` doesn't support this out of the box. However, many cloud providers implement a PHP [streamWrapper](https://www.php.net/manual/en/class.streamwrapper.php) interface that enables us to store and retrieve data from thes

[2020-10-04 10:04] shivapoudel commented on #299
@ankitpokhrel I am trying to implement an Uppy file uploader where the plugin itself acts as the companionURL either with RestApi or any alternatives. Just like `tus` if there was any Uppy companion library for PHP than that would be useful for integrating into WP.

I have spent several hours to configure WP Rest API for Uppy but all the auth redirects and callbacks are a bit heavy to handle in PH

[2020-10-05 10:44] ankitpokhrel commented on #299
@shivapoudel I think I got what you are trying to say.

[tus](https://tus.io/) and [companion](https://uppy.io/docs/companion) are two different things and you cannot configure companion in PHP using this library.

`companion` acts as a bridge between third party upload source and your server while `tus` is an open protocol for resumable uploads. To use `tus` with `companion` using the [`COMPANION

[2020-10-05 15:51] #299 closed

[2020-10-05 15:57] ankitpokhrel opened #300 "Fix travis build"
Recent travis build is failing for PHP 7.3+ with  following error:

[code]

Link to failed build: https://travis-ci.org/github/ankitpokhrel/tus-php/jobs/732994435

[2020-10-06 19:11] #300 closed

[2020-10-07 02:03] #265 closed

[2020-10-07 21:27] kohenkatz commented on #186
In case anyone else finds this, I had this problem too, and here's what fixed it:

Change the route to this:

[code]

(All I did was get rid of `->send()` from the `return` line.

This allows Laravel to handle converting the Symfony response into a Laravel response, instead of trying to send the Symfony response directly.

I am not yet sure why it works without this change on some machines but oth

[2020-10-07 21:27] kohenkatz commented on #230
Posted my solution to this in #186.

[2020-10-11 08:32] muniv11111 opened #304 "cannot run example"
Hello,
 in basic example I endup with POST 500 error with upload.php.

In apache error log I see:

[php7:error] [pid 49085] [client 127.0.0.1:42298] PHP Fatal error:  Uncaught GuzzleHttp\\Exception\\ClientException: Client error: `POST http://dog.seedhost.eu/muniv/downloads/tus-php/files` resulted in a `401 Unauthorized` response: Unauth (truncated...)\n in /home24/muniv/downloads/tus-php/vendor/g

[2020-10-11 21:33] samundra commented on #304
Hi @muniv11111 From the log, you are getting `401 Unauthorized` that means `http://dog.seedhost.eu/muniv/downloads/tus-php/files` is not accessible. You will have to ensure it is publicly available.

This solely depends on your Apache Server Configuration.

[2020-10-23 15:26] kaarta-dstrickler commented on #246
Could you let me know what file and line(s) of code I'm looking for? I'd like to try this out, but don't know where the fread() is

[2020-10-24 09:43] samundra commented on #246
@kaarta-dstrickler Likely https://github.com/ankitpokhrel/tus-php/blob/master/src/File.php#L424-L433

[2020-10-29 16:20] kaarta-dstrickler commented on #246
Thanks for the code reference! Doing a little debugging I stumbled across something strange. I was trying to make sure I was adjusting the right code, so quickly inserted an exit() to force the upload to bomb. To my surprise, not only did the upload work, but the speed improved by over 5x, even though the CHUNK_SIZE is still the default of 8192.

Not knowing the inner workings of Uppy code, I poke

[2020-10-31 17:41] kaarta-dstrickler commented on #246
I think I found the solution, and remember I am uploading files that routinely are over  1GB, and increasing over 10GB.

1) Altered the constant at the top of the ../src/File.php to have
```public const CHUNK_SIZE = 8192 * 128; // 8 kilobytes * 128 *  = 1M packets.```

2) The in the function read(), I swaped out the fread() line to use
```$data = stream_get_contents($handle,  self::CHUNK_SIZE);```

[2020-11-01 11:33] ankitpokhrel commented on #273
@amir9480 @renepardon tus-php uses [symfony/http-foundation](https://github.com/symfony/http-foundation/blob/5.x/Request.php) package internally to handle the requests and detecting the protocol is handled dynamically by [getScheme()](https://github.com/symfony/http-foundation/blob/5.x/Request.php#L933-L936) method.

Applications that are behind a reverse proxy needs to forward some HTTP headers s

[2020-11-01 11:43] ankitpokhrel commented on #304
Closing due to inactivity. Feel free to comment to reopen if you still need help.

[2020-11-01 11:43] #304 closed

[2020-11-03 23:52] muratgozel commented on #79
As a uppy.js user, I send a path along with the upload request and placing the file wherever I want:
[code]

[2020-11-05 11:29] vincentcox opened #310 "Whitelisting only certain file-types and performing security checks on them - AWS s3"
I don't know if it's already possible, but I only want to allow certain filetypes (like images only for example). It cannot be checked by only the extension, because attackers can just rename the file. It needs to be checked on mime-type, what's inside the file etc (similar to guessExtension() in Symfony).

If this is outside the scope of this project, is there a way that I can do these checks mys

[2020-11-06 08:52] ankitpokhrel commented on #310
Hi @vincentcox you can use [events](https://github.com/ankitpokhrel/tus-php#events) for this purpose. A `tus-server.upload.complete` event is fired once the upload is complete and you can utilize this hook to add your validation logic before uploading the file to the cloud provider.

[code]

[2020-11-08 06:48] sachin8600 opened #315 "Getting 400 error when use & character in file name"
We got 400 error when upload file using uppy for specific file having & character in the name

If remove & character file upload successful. But if add & character file upload got 400 bad request error.

[2020-11-08 08:40] ankitpokhrel commented on #315
Characters like `../`, `"`, `'`, `&`, `/`, `\\`, `?`, `#`, `:` are not allowed in the file name for security reasons.

[2020-11-08 08:40] #315 closed

[2020-11-08 13:42] sachin8600 commented on #315
Thanks for reply.

Currently we changed code in the uppy side

onBeforeFileAdded:(currentFile, files) => {
      const modifiedFile = {
        ...currentFile,
        name: currentFile.name.replace("&", "and")
      }
      return modifiedFile
    }

So atleast file must be uploaded

[2020-11-13 11:14] vincentcox commented on #310
Hi @ankitpokhrel, would this become something like this in Symfony?

[code]

I want to use this in combination with https://uppy.io/, so I don't know if this is the correct approach. I know this can be out of scope for this project, but if you already used something (similar) like this and want to give me some cues, I would highly appreciate it. Many thanks and stay safe!

[2020-11-14 10:00] ankitpokhrel commented on #310
Hi @vincentcox, you first need to attach the listener before serving the request. Something like this should work:
[code]

[2020-11-17 11:30] xtezza opened #319 "Installation failed"
**Describe the bug**
There is an error when trying to install V1.2 via composer.
the error message is :

Problem 1
    - Conclusion: don't install ankitpokhrel/tus-php v1.2.3
    - Conclusion: don't install ankitpokhrel/tus-php v1.2.2
    - Conclusion: don't install ankitpokhrel/tus-php v1.2.1
    - Conclusion: remove guzzlehttp/guzzle 7.2.0
    - Installation request for ankitpokhrel/tus-php ^1.2

[2020-11-17 12:15] ankitpokhrel commented on #319
@xtezza `v1.*` is not yet updated to use guzzle 7. And you cannot use V2 since you are using Symfony 3 packages. I will try to make a new `v1.*` release to support guzzle 7.

[2020-11-17 13:03] xtezza commented on #319
I've found the solution, i've removed first  kriswallsmith/assetic, i've get symfony/console and that's fine !
Thanks for your response.
I close the issue.

[2020-11-17 13:03] #319 closed

[2020-11-20 15:13] samundra commented on #273
Hi @amir9480

I would like to follow up on it.

Were you able to resolve the problem you had?

[2020-11-20 15:45] samundra commented on #246
Hi @kaarta-dstrickler

Thank you for taking time to write back on comment regarding the changes.

Going from 75Mb/s upload to ~450Mb/s  is indeed a huge improvement. If I am not wrong you were able to get almost 50% of the total speed on FiOS line 830Mb/s.

Could you please share insights on how you performed the benchmark? If possible, could you also please mention the tools and methodologies. Th

[2020-11-20 16:40] kaarta-dstrickler commented on #246
@samundra I'd be happy to help if I can. I love Uppy!

I am testing on a home-based FiOS line that I test for speed automatically once an hour with iperf3 from a Raspberry4 with a 1Gb network connection. It verifies the line at about 850Mb/s to 950Mb/s, which is about as good as I can expect due to overhead, etc. When these tests are done, all connections are hard-cabled with Cat7 wires, making su

[2020-11-20 17:17] amir9480 commented on #273
@samundra

I have no control over the headers in the CDN I use. So I still use my old trick:

https://github.com/sanjabteam/sanjab/blob/master/src/Controllers/UppyWidgetController.php#L39

[2020-11-20 17:19] amir9480 commented on #273
@samundra

Hi
I have no control over the headers in the CDN I use. So I still use my old trick:

https://github.com/sanjabteam/sanjab/blob/master/src/Controllers/UppyWidgetController.php#L39

[2020-11-21 09:53] ankitpokhrel opened #321 "Roadmap: v3"
Q | A
-- | --
Status | DRAFT
Type | Feature
BC Break | Yes
Min PHP Version | 8.0 (?)
Dev Branch | [v3](https://github.com/ankitpokhrel/tus-php/tree/v3)
Release Date | N/A
Release Version | 3.0.0

#### Possible Changes

- [ ] Full PHP8 support
- [ ] [PSR-6](https://www.php-fig.org/psr/psr-6/)/[PSR-16](https://www.php-fig.org/psr/psr-16/) compatible cache implementation (see #287)
- [ ] Switch to [P

[2020-11-21 10:22] ankitpokhrel commented on #287
Hi @mbaumgartl,

Apologies for the late response!

We are [planning a next major release](https://github.com/ankitpokhrel/tus-php/issues/321), and this change would be perfect for v3. The targeted min PHP version is 8, and there is a [dev build](https://github.com/ankitpokhrel/tus-php#docker) available for you to start quickly with PHP8.

In case you are still up to work on this change, we would b

[2020-11-21 10:29] samundra commented on #321
Should we instead target new PRs only to `v3` branch?

[2020-11-21 10:33] samundra commented on #273
Hi @amir9480

Thank your for the feedback.

We'll look into it and hopefully will be able to address it if more users begin to report it. Currently, we have a workaround and thus can be put on hold for now.

[2020-11-21 10:50] ankitpokhrel commented on #321
I would say:

**v2**
- Fixes and features that can be ported easily to v3.
- But, all new changes must be compatible with PHP8.

**v3**
- Incompatible and major changes.
- Port changes that are applied in v2 to v3 regularly.

If v2 and v3 branches diverge by a lot, then we can stop accepting features in v2. But I don't think it is necessary at this phase.

[2020-11-21 11:53] samundra commented on #321
Sounds good.

[2020-11-23 12:29] jappe999 opened #322 "Multiple CORS headers not allowed"
**Is your feature request related to a problem? Please describe.**
The example code for Laravel/Lumen uses both the `serve` and `send` methods and creates sets the headers twice. Because of this our file upload didn't work and Firefox warned that [multiple CORS headers are not allowed](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS/Errors/CORSMultipleAllowOriginNotAllowed).
![image](https:

[2020-11-23 13:52] mbaumgartl commented on #287
Hello @ankitpokhrel!

I didn't have much time to work on this issue lately. Although I was unsure about how open you are to these changes. I'm glad to hear you want to switch the cache layer implementation to PHP standards recommendation :+1:

What do you think about throwing some more PSRs at this project?

- [PSR-18](https://www.php-fig.org/psr/psr-18/) - make HTTP client configurable
- [PSR-7](

[2020-11-23 16:51] ankitpokhrel commented on #322
Thanks, I amended the doc. The `$response->send()` step is actually not requried.

[2020-11-23 16:51] #322 closed

[2020-11-23 17:16] markkimsal commented on #246
@kaarta-dstrickler
I think what's happening is that the client is sending all the data up to the PHP.  Then the PHP quits.  Then the client continues to send the next chunk of data to another apahce/nginx/php-fpm thread.  Thus, you are only testing upload speed w/o the slowness of PHP having to actually read the data and do anything with it.

I'm curious, does the resulting uploaded file actual ha

[2020-11-23 17:41] kaarta-dstrickler commented on #246
Yes, that was me deleting it. I posted it, then realized the exit() was doing just what you said it was (throwing away data) and thus giving me false speed readings. I deleted the post, and continued to test without the exit(), and got speed results pretty close to what you'll see above. Thus, I'm pretty sure the writing to disk/redis by the PHP server-side was only adding a small amount of overhe

[2020-11-24 08:17] jappe999 commented on #322
Thanks!

[2020-11-24 09:00] ankitpokhrel commented on #287
Hi @mbaumgartl,

All of these changes sound tempting and are nice to have, but today's best practices can easily be tomorrow’s anti-pattern. So, IMHO we should not change anything unless it is absolutely required.

It would be better to spend time working on a feature that provides additional value to the library users moving forward. For instance: possible speed improvements, proper integration w

[2020-11-26 05:14] individual-it opened #323 "unhandled exception in client when server responds with 4xx on the POST request to create a new upload resource"
**Describe the bug**
In the case if the server responds with a 4xx to the POST request to create a new resource the client throws a GuzzleException, that is not handled correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. use the owncloud ocis server as TUS server:
1.1. clone https://github.com/owncloud/ocis
1.2. `cd ocis/ocis`
1.3. `make`
1.4. `PROXY_ENABLE_BASIC_AUTH=true bin/ocis se

[2020-11-27 08:19] #323 closed

[2020-11-30 06:40] ebrahimirad opened #325 "ErrorException: Undefined offset: 1 Request.php"
Hello friends,
I got error sometimes on production when the user want to upload file.
Error Log Stack:
[code]

What is the problem?

[2020-11-30 17:46] ankitpokhrel commented on #325
Hi @ebrahimirad It can happen if the `Upload-Metadata` header is not in the correct format. Is it possible to share what is in the `Upload-Metadata` header when you get this error? Also, please state info like the `tus-php` library version you are using, and are you using it for client/server/both?

From the tus protocol doc:

[2020-12-05 09:28] ebrahimirad commented on #325
`Upload-Metadata: filename 2YXYr9in2LHaqS5yYXI=,filetype`

[2020-12-05 09:28] ebrahimirad commented on #325
Also it happen in the tus-server, when someone try to upload file on the server

[2020-12-15 15:04] ankitpokhrel commented on #325
@ebrahimirad sorry for the late response. I see that `filetype` doesn't contain any value which is incorrect. Please make sure that the metadata always has a key-value pair separated by a space.

[2020-12-16 15:59] EthanBasham opened #331 "Option to clear key from cache after successful upload"
My implementation is to store all uploads in a single "temporary" location in s3 then to move that file to a different folder after the upload is finished. That said, it would be nice if the cache would forget about the file being uploaded so that the same file could be uploaded again to the temporary location then moved to a different folder.

It would be nice if there were a simple setting on th

[2020-12-16 16:28] #331 closed

[2020-12-24 16:34] eFrane opened #333 "Make forbidden filenames configurable"
**Is your feature request related to a problem? Please describe.**

I just spent the better part of two hours trying to figure out why my uploading code was suddenly broken for a single file and working fine for every other test file until I finally debugged myself to `src/Request.php:232`. While I understand the possible security implications of allowing all filenames, I would like to open up the

[2021-01-05 06:02] MohammadNasirAriaee commented on #156
Please, can anyone help, when I try to read json file like this using javascript ($.getJSON('/extras/contract_types.json', function (result) {...})
it returns 400 bad request in console but before it was working correctly.
Any idea for solving this error, thanks.

[2021-01-07 08:24] hthanhbmt opened #334 "How to response error and reject upload ?"
I think in a project validation and notification are important because you cannot allow users to upload any file type e.g. file is too large, the file contains malicious code or file in a format that your application does not support.
But I did not find any guidance in the documentation you provided.
What is the best practice?
Can you give some code example response error and reject upload for me

[2021-01-07 17:55] ankitpokhrel commented on #333
Hi @eFrane, sorry for the delayed response and hope you had a wonderful holiday.

I wouldn't mind making this configurable given that:
- The default behavior restricts possibly illegal characters as we have at the moment.
- Navigational elements must not be configurable (unless someone comes up with a valid reason to do so).

PRs are welcome :)

There is always a cleaner way of doing things, and s

[2021-01-07 18:20] ankitpokhrel commented on #334
Hi @hthanhbmt, you should be able to do this with a [middleware](https://github.com/ankitpokhrel/tus-php#middleware). The example below shows a case where you can reject an upload if the user is not authenticated. Using a similar technique, you can validate file types.

[code]

[2021-01-08 04:00] hthanhbmt commented on #334
I tried to throw an Exception just like you before but Uppy still trying to post request until uses up the numbers of trying.
The throwing Exception will respond HTML instead of JSON.
How to return JSON to display messages on Uppy?

[2021-01-23 04:50] samundra commented on #273
Hi all,

I did some tests and found that when client is served over https and tus-php server is served over http then we get mixed content error.

Please see test result below:

## Testing methods

| Test case | Client | Server | Behind <br/>Reverse Proxy | Reproduced<br/> Mixed Content |
| --------- | ------ | ------ | -------------------- | ------------------------ |
| Case 1    | https  | https

[2021-01-23 23:07] Nex-Coder commented on #143
Hi, sorry if replying here is a no no. Haven't contributed much to Github (yet).

I'm getting the same issues as described here exactly. With the only exception that I'm using `file` instead of `redis`. I've tried the default config and my own. Maybe its because i'm using slim however, not experience enough to tell. Im using mostly example code just to _learn_ really.

Here is my tus routes in Sli

[2021-01-24 01:51] Nex-Coder commented on #143
Sorry, nevermind. It was due to my lack of understanding about the .htaccess and thus was requesting the wrong URL (among other things).

[2021-01-28 12:24] lennartbader opened #336 "Wiki: Wordpress integration"
The Wiki contains an error for the Wordpress integration explanation.

In Step 8:

`$wp->query_vars['pagename']
`

should be:

`$wp->query_vars['name']
`

[2021-01-28 13:05] ankitpokhrel commented on #336
I think this was changed in the recent WP version. I will update the docs accordingly. Thanks for reaching out.

[2021-01-28 15:40] lennartbader commented on #336
#277 is most likely caused by this too.

[2021-01-28 20:43] ankitpokhrel commented on #336
@lennartbader `pagename` seems to be working fine in WP5.5 & WP5.6. It might be that something else is interfering with the query var. Can you please try  with clean installation (no plugins and default theme) and see how it goes?

[2021-01-30 20:25] duerrsimon opened #337 "uploadUrl does not resolve to images when using file based caching"
I am using Uppy and I struggle to set the uploadUrl of the uploaded images correctly.

The Tus Endpoint resides in the `/file-upload/` folder:

`index.php`

[code]
`.htaccess`
[code]

File upload in Uppy works correctly and the files show up in the respective server directory.
However, the uploadUrl in the response points to e.g `servername.com/file-upload/files/e38b5189-590c-4c8d-9e0f-79f6ef0892c

[2021-02-10 11:46] greatsami opened #338 "Unable to create resource"
Hello,

I'm trying for 2 days with this issue.

I'm working on:
Windows 10
Laravel 8
Redis

I followed Laravel & Lumen Integration, also I implemented Basic example.

My problem in Upload function in FileException

the response from verify function:

[code]

the response from upload function:

[code]

when I print the value of src/Tus/Client.php line 488

[code]

HttpResponse::HTTP_CREATED = 201
$

[2021-02-13 08:01] #310 closed

[2021-02-22 10:15] gbrits opened #339 "Unable to get debug information from Laravel server"
I have been working on using this library for the last four hours and I can't seem to get past this point. I have alternated between using Blobs and now I'm using the FileEntry File object as prescribed in your documentation. My client is the `tus-js-client` official.

My code is as follows for the client side:

[code]

Prior to uploading, I retrieve the File object like so:
[code]

Finally... my

[2021-02-22 12:51] gbrits commented on #339
Current issue is this:
[code]

[2021-02-22 14:48] gbrits commented on #339
I put a catch on the route to see if anything is being posted and the response is empty, is this normal?

[code]

As seen here:

[code]

[2021-02-22 15:44] gbrits commented on #339
When I remove my authorisation header I get a different error:

[code]

[2021-02-22 17:21] gbrits commented on #339
Tried implementing middleware - `local.ERROR: Undefined property: App\Http\Middleware\TusPass::$user`